[2018-10-30 15:29] vn971 opened #1 "implement upstream AUR diff"
When installing new versions of an already installed package, the user should be able to review changes made upstream. This includes PKGBUILD and other files.

[2018-10-30 15:50] Morganamilo opened #2 "Rua always wants to install stuff as deps"
When installing an AUR package, the command given always includes --asdeps. This happens for already install explicit packages, and when installing new packages.

v0.6.3-4

[code]

Also may as well mention. It looks like you're using `pacman -Qi` to check for installed packages. You may want to look into `pacman -T`.

[2018-10-30 16:29] vn971 opened #3 "Use .SRCINFO instead of PKGBUILD for dependency resolution"
It may be worthwhile to look into "libalpm" as well for that.

[2018-10-30 18:01] vn971 commented on #2
Thanks for the feedback! Indeed, the packager should be smarter than to use `--asdeps` everywhere. I'll look into it.

Regarding `pacman -T`. Thanks a lot! This makes my life much easier. Happy to find it available as well.

[2018-10-31 09:14] #2 closed

[2018-11-05 20:32] theel0ja opened #4 "multilib dependencies cause an error"
Package I tried: https://aur.archlinux.org/packages/foobar2000/

It has Wine (arch repos, i think) as a dependency.

[code]

[2018-11-05 20:37] vn971 commented on #4
This one is because `wine` is really not an AUR package, but rather a package that exists in [multilib] repository of official pacman. See here: https://wiki.archlinux.org/index.php/Wine#Installation  for wine installation on ArchLinux.

[2018-11-05 20:37] #4 closed

[2018-11-05 20:38] vn971 commented on #4
@theel0ja note that RUA has no right to change values in your `/etc/pacman.conf`, nor should it have. It's your choice to enable multilib or not.

[2018-11-06 14:41] theel0ja opened #5 "bwrap: Can't mkdir ~/.gnupg/openpgp-revocs.d: Read-only file system thread 'main' panicked at 'Failed to build package', src/wrapped.rs:61:2"
[code]

[2018-11-07 10:38] vn971 commented on #5
Would you be able to test the newer version (of RUA)?
I've pushed 0.9.5, hopefully it'll fix the error.. I've re-factored that part of the security wrapper.

[2018-11-27 16:42] c-edw opened #6 "Panic on package build failure."
I am trying to install some packages and am getting a panic on `src/wrapped.rs:61:2`. The backtrace is pretty unhelpful, but it looks like the command that was being executed didn't return 0.

Ideally this shouldn't panic, but should just print a warning or error.

[2018-11-27 16:49] vn971 commented on #6
@c-edw Do you have backtrace at all, or is it just unhelpful? If you're compiling via AUR, you need to uncomment `options+=(!strip)`, because otherwise `makepkg` strips out all debug symbols.

[2018-11-27 16:51] vn971 commented on #6
@c-edw yes, panicking is indeed not a nice thing to have. I need to make an iteration of cleaning them up again, probably.

By the way, have you installed the dependencies?: https://github.com/vn971/rua#install-dependencies

[2018-11-27 17:04] c-edw commented on #6
The first time, I followed `Install (the AUR way)`, which lead to this issue. I've just tried `Install (the Rust way)` but get an immediate panic when trying to install something. I'm the `root` user in a Docker container, if that matters.

[code]

[2018-11-27 17:08] c-edw commented on #6
I have installed the dependencies also.

[2018-11-27 17:09] vn971 commented on #6
I see that it's in `rua::aur:fresh_download` then.
I'll check this method, as well as other usages of `unwrap` that I have.
Big thanks with the report! I'll try to come back on it very soon or during next day.

[2018-11-27 17:18] vn971 commented on #6
@c-edw it actually seems as though `git` is unavailable inside your OS. Could that be true? I was pretty sure `git` is part of the `base-devel` package, but maybe it's not?

[2018-11-27 17:35] vn971 commented on #6
@c-edw this one is from `bwrap` -- the security sandbox the project uses: https://github.com/projectatomic/bubblewrap
I wonder if you'll have the error while running from non-root. This needs some thinking-upon. The issue itself is basically outside of RUA totally.

On the other hand, people say that running bubblewrap inside docker works at least partly:https://github.com/projectatomic/bubblewrap

[2018-11-27 17:36] vn971 commented on #6
Thanks!

[2018-11-27 17:45] c-edw commented on #6
I have tried installing with rua under an unprivileged user, which gives a different error:

[code]

This is when running with `RUST_BACKTRACE=1 .cargo/bin/rua install wlroots-git`. If I run it with `sudo`, it gives the same error as when it was run under root.

If you'd like, I can report this on bubblewrap.

[2018-11-27 18:56] vn971 commented on #6
@c-edw Apparently "bubblewrap" needs some rights to prepare the jail, which docker lacks by default. This issue describes the very same problem I think: https://github.com/flatpak/flatpak/issues/1326

[2018-11-27 19:11] vn971 commented on #6
I've installed docker with an Arch image, the problem is totally reproducible.
The easiest way to repro the issue is to just invoke bubblewrap directly:
`bwrap --dev-bind / / bash`

[2018-11-27 19:31] vn971 commented on #6
UPDATED ^

[2018-11-27 19:34] c-edw commented on #6
Does `rua` support package building without the bubblewrap jail? Maybe you could somehow detect if being run inside a Docker container?

Unfortunately I don't run Arch on my root system, and I was using the container to test various AUR helpers.

[2018-11-27 19:46] vn971 commented on #6
@c-edw Automatic disabling of security properties is something that I'd rather avoid, even if program thinks it runs inside docker. An explicit argument is possible though. I'll take some time on this.

[2018-11-27 20:02] c-edw commented on #6
But helpers such as `yay` don't building inside a jail, right? Of course, the security feature is nice, but it's not a disaster if disabled.

[2018-11-29 21:21] vn971 opened #8 "Support insecure builds | docker"
Currently, RUA does not support building packages without the namespace jail (bubblewrap). Unfortunately, it does not work in e.g. docker.

Adding support for insecure (jail-less) builds could help users of docker, see e.g. https://github.com/vn971/rua/issues/6#issuecomment-442188061

[2018-11-29 21:50] vn971 commented on #6
UPDATED ^

[2019-01-13 16:04] Morganamilo opened #9 "depends_arch should not assume pacman architecture == uname"
For architecture specific fields (e.g. depends_x86_64) the architecture should correspond to the architecture defined in pacman.conf, not the system architecture.

On x84_64 this doesn't really matter as pacman.conf and uname happen to agree.

But on other architectures like arm, `uname -m` gives `armv7l` while pacman.conf contains `Architecture = armv7h`.

[2019-01-15 13:58] vn971 commented on #9
Remark to anyone fixing this bug (probably me).
The correct way to get architecture is to invoke `pacman-conf Architecture`, or to use libalpm.

[2019-01-21 21:12] senden9 opened #11 "Reformat code?"
Hi!

I thought about to reformat this codebase automatically with `cargo fmt`. But this would lead to many changes just for style. See https://github.com/senden9/rua/compare/c100c91960427857d555107a2b9a5cc573a7e725...senden9:6d6bbacf846e77abcf401c581eb5b4eb05e43cb2 for a result. If you want I open an PR for that changes. If not we let the code base at it is at the moment.

[2019-01-27 14:01] vn971 commented on #11
Thanks for raising the issue!

It started as a personal project for myself, I didn't know if people would enjoy the alternative. So I've picked some personal coding habits.
At this point, however, it make sense to make the codebase convenient for possible future contributors, so making code `cargo fmt` compatible would definitely be good.

I'll try to address the pull request first to avoid confli

[2019-01-27 14:41] vn971 commented on #11
Apparently the branch was on top of the other PR already. There's one issue I see though: the source code is not formatted fully https://github.com/senden9/rua/compare/c100c91960427857d555107a2b9a5cc573a7e725...senden9:6d6bbacf846e77abcf401c581eb5b4eb05e43cb2#diff-53a8cadd501570cca53504b48b23ccfe
you can see both spaces and tabs here. That's something we definitely want to avoid. Looking into it n

[2019-01-27 14:49] vn971 commented on #11
done! I've just manually replaced the remaining tabs, so it's only 4 spaces for indentation now.

[2019-01-27 14:49] #11 closed

[2019-01-28 12:04] senden9 commented on #11
Great. Have you seen that you can adapt the style if you want with a config file in the project root? https://github.com/rust-lang/rustfmt/blob/master/Configurations.md

I do not recommend this but then you can have also your own style _and_ some tool to enforce it. For my the style dosnt matter relay as long as is consistent over the project.

[2019-01-28 12:08] vn971 commented on #11
I've currently added both (clippy and rustfmt) in CI, but I'm OK with exclusions if valid code would receive false warnings.

[2019-01-28 20:59] senden9 opened #13 "Implement search"
Display the user hits for the `search` subcommand. For the printing we can use something like [prettytable](https://github.com/phsym/prettytable-rs) plus the AUR search api.

At the moment the user gets only a link that needs to be opend in some browser, go back to the terminal & type the install command. This is not the most ergonomic workflow.

[2019-01-28 21:03] senden9 opened #14 "Think about better error handeling"
At the moment there are `panic!`-s everywhere in the code base. _Think_ about to use libs like [human_panic](https://docs.rs/human-panic/1.0.1/human_panic/) and/or [failure](https://rust-lang-nursery.github.io/failure/) to get better user experience.

[2019-01-29 10:07] vn971 commented on #13
I'd also like to note the existence of "aur" crate: https://github.com/rusty-crates/aur.rs ,which wraps the JSON API into Rust. I think using this crate is a good path for RUA to go, eventually.
// I've planned to do it, but just moved to a new city and new country recently, didn't have time to return to it properly yet.

That is definitely doable.

[2019-01-29 10:34] vn971 commented on #5
closing as outdated. Please reopen if you'll be able to reproduce the issue on newest RUA.
The current version can be installed with just `cargo install rua`.

[2019-01-29 10:34] #5 closed

[2019-01-29 15:20] senden9 commented on #13
Thank for the tip. I am just a Arch Linux user and rust programmer that want a good aur helper. So i will add pul lrequest from time to time if something bugs me.

[2019-01-29 15:48] vn971 commented on #13
@senden9 sure! This is exactly my approach, and my description as well so far.:)

// Well, plus namespace security isolation, but this part was first and it's finished now.

[2019-01-29 19:36] #9 closed

[2019-01-29 19:39] vn971 commented on #9
Fixed in https://github.com/vn971/rua/commit/c76710a83a916931e44c64375a53eabe2b6ad396  and  https://github.com/vn971/rua/commit/fc548e3f26f006799333675c9ef1ee7358272f26

[2019-02-10 10:17] ldr709 opened #15 "Improper quoting of PKGBUILD.static"
[static_pkgbuild](https://github.com/vn971/rua/blob/master/src/srcinfo.rs#L83`) doesn't properly quote strings. This makes packages with apostrophes in their descriptions, such as `ruby-stringex`, fail to build.

    /home/aur/.cache/rua/ruby-stringex/build/PKGBUILD.static: line 13: unexpected EOF while looking for matching `''
    /home/aur/.cache/rua/ruby-stringex/build/PKGBUILD.static: line 14:

[2019-02-10 10:32] ldr709 opened #16 "Repeated dependencies installed in incorrect order"
I ran into this while installing `ruby-gollum`. When a package (in this case `ruby-nokogiri`) is depended upon multiple times and a later depending package is deeper than the first, it will be installed after some of the packages that depend on it and the `makepkg` will fail. This is because packages are installed in order of the depth of the first time the package is required, and instead they ne

[2019-02-10 11:08] vn971 commented on #16
Thanks for the report, good catch! I'll take a look.

[2019-02-10 11:54] #16 closed

[2019-02-10 13:21] vn971 commented on #15
Apparently this line fails to work the way I expected it to work: https://github.com/vn971/rua/blob/master/src/srcinfo.rs#L85
This parsing would be nice to cover with more tests I think, manual and/or unit.

[2019-02-11 07:40] vn971 commented on #15
For reference, this is the problematic `PKGBUILD.static` file that is generated:
[code]

[2019-02-11 07:41] vn971 commented on #15
And this is the `.SRCINFO`:
[code]

[2019-02-11 07:59] #15 closed

[2019-02-11 08:06] vn971 commented on #15
Thanks for raising! The underlying issue is that rust-s regexp implicitly add `.*?` at both ends of each pattern -- something I overlooked, unfortunately.

[2019-03-09 16:38] vn971 commented on #8
If anybody thinks it's very important and wants to write a PR for that, I think it could be merged presuming:
* it's a quality PR in terms of code and maintenance
* the feature itself is hidden under a verbose-only warning flag

Personally, I see too few evidence on needing that yet, so not willing to work on it yet.

[2019-03-09 17:59] Morganamilo opened #19 "Static pkgbuild is easy to bypass"
Giving the srcinfo

[code]

produces the pkgbuild

[code]

Which when run through bash or makepkg outputs `hacked`.

Personally I think trying to secure pkgbuilds like this is a bad idea in the first place. Instead I think it's best to just have the user vet the pkgbuild before downloading sources.

[2019-03-09 18:43] #19 closed

[2019-03-09 18:46] vn971 commented on #19
Damn, it's so sad to see issues like this slipping through. Big thanks for raising the issue!

Apparently I didn't test https://github.com/vn971/rua/blob/master/src/srcinfo.rs#L84
I expected this thing to write `'\''`, but in fact it writes down `'''`.

Long-term, thins thing sounds like a candidate for proper rewrite. I'm not sure which form I want it to take though as the idea was to allow "safe

[2019-03-09 18:48] vn971 commented on #19
At least one good news for me to avoid total shame: the automatically produced PKGBUILD.static was still run under the jail, just with internet access. Still not good though as something called "--offline" should never be able to reach internet from PKGBUIULD.

[2019-03-09 19:06] Morganamilo commented on #19
This seems to work although I am in no way a bash expert, I can't help the feeling that there's some way to break it.

[2019-03-09 19:13] vn971 commented on #19
@Morganamilo I had the same feeling that there's million of ways to escape stuff and you can't cover it all. Some materials that I could find online though suggests that for `'` the only thing that must be escaped is `'` itself..
I see no other way to support `--offline` builds at the moment. Not sure what to do best here..

[2019-03-09 19:16] Morganamilo commented on #19
Why not have the user review the pkgbuild then use makepkg on the proper pkgbuild to download the sources?

[2019-03-09 19:41] vn971 commented on #19
@Morganamilo that's the default behavior (without `--offline`) already.

[2019-03-09 19:53] Morganamilo commented on #19
My point was using makepkg to download the sources then run the rust of the build offline. So just like the existing offline process but use the proper pkgbuild.

[2019-03-09 22:59] vn971 commented on #19
@Morganamilo Ah, got it!
I'm still thinking about it. There certainly seems to be a use case for the relaxed "--offline" key, when PKGBUILD is executed with online capabilities but a properly written and checked script is assumed. Question is now how to integrate that. Have two "--offline"-like keys?

Maybe you have some ideas on it?

[2019-03-09 23:04] Morganamilo commented on #19
Have separate `--offline` and `--static` flags is what comes to mind for me.

[2019-03-09 23:04] vn971 opened #20 "Implement "relaxed" offline build"
As raised here by @Morganamilo, https://github.com/vn971/rua/issues/19#issuecomment-471216213 it is sometimes desireable to build a package offline, but assume that PKGBUILD is being read carefully by the user and downloading of `sources` in it is safe.

One solution would be to have a key like `--offline` that does exacly that. Unfortunately, however, it'll be 2 separate keys in RUA then, which s

[2019-03-09 23:07] vn971 commented on #20
https://github.com/vn971/rua/issues/19#issuecomment-471230245

[2019-03-10 18:48] Morganamilo opened #21 "Rua fails to install split packages where pkgname != pkgbase"
For example when installing `libc++ rua` tries to fetch the `libc++abi ` pkgbuild even though it doesn't exist.

[code]

If I try to install `libc++abi` directly it tries to pull llvm in as a dependency even though it is not a dependency. Hitting `M` to effectively skip installing it then causes makepkg because of the missing dependency. Even though using makepkg directly works fine.

[code]

And

[2019-03-10 18:53] vn971 commented on #21
Yeah. I know of this problem.. The proper solution is probably to use the AUR web (json) API.

[2019-03-10 21:14] Morganamilo commented on #21
Oh I figured the `LLVM` dep out now. There used to be an aur package called `libc++abi`. And because the backing git repo is never removed, rua fetches the very old .SRCINFO file from that.

[2019-03-19 10:03] vn971 opened #25 "Integrate with an AUR JSON API library"
As posted by @Morganamilo in https://github.com/vn971/rua/pull/22#issuecomment-473719795:

[code]

Solving this would also make GH-13 very easy.

[2019-03-20 10:24] vn971 commented on #21
Oh, I understood it now. We shouldn't `git clone` when analyzing dependencies then, instead only use it when all dependencies are checked via AUR JSON API, and when user confirms the actions.

It seems sad that we have to rely on AUR JSON API more and more though, to my tastes.

[2019-03-22 13:48] Morganamilo commented on #1
I just pushed this crate https://docs.rs/aur-fetch/0.1.0/aur_fetch/ which may be useful to you. Better error messages is still a todo for me but it should be usable.

One slight problem is that I designed it for batch downloads. As in the helper should resolve all the deps via the RPC ahead of time, then pass all of them to this crate and download them at once. Of course doing it in multiple batch

[2019-03-22 15:29] vn971 commented on #1
@Morganamilo interesting. I must note that it's a hard problem though: the ways how you can combine diffing, fetching and asking user questions is pretty broad. I'll take a look at your proposal.

[2019-03-22 15:33] vn971 opened #27 "Usability: group PKGBUILD verification with reviewing of built artifacts"
This is a proposal to change package review process.
For example, let's consider package `A`, that depends on `N` and `M`, which in turn depend on `X`, `Y`, `Z`.

The current schema looks like this:
* let user review repo-s for A, N, M, X, Y, Z
* build X Y Z, review artifacts for Z Y Z, install
* build N, M, review artifacts for N M, install
* build A, review artifact, install

This is formally co

[2019-03-22 15:45] Morganamilo commented on #1
I built this with that in mind. It's a proper library, It never prints anything on it's own. That's up to whoever uses the crate to decide. It does support diffs both as just strings and 'views'.

The view method is pretty much a clone of how aurutils does it if you're familiar with that.

Also this isn't a proposal (otherwise this would be a PR :P) and more hey look at this. But seems as you do w

[2019-03-23 23:28] b1f6c1c4 opened #28 "Frustrated: confusing behavior when installing xen"
I enabled `multilib` from pacman first and ran `rua install xen`
After a very looooooooong wait the compilation is finished.
`rua` asked me
[code]
And I typed `i` to view the install file. It looks nice. Afterwards,
[code]
Immediately I tried to `ls /boot` and `ls /etc/xen` to configure xen, but I didn't see the files installed. So I, without thinking about it, typed `rua install xen` and hit ente

[2019-03-24 00:32] vn971 commented on #28
Thanks for the report! Sorry for the frustration with the removed artifacts.. Regarding deletion of cache dir -- it's a known thing:

https://github.com/vn971/rua#limitations

Basically, the program currently has no idea in which state the build directory is, so it always wipes out it entirely. Even with that, however, it makes sense to not touch the "checked_tars" dir while we haven't started a n

[2019-03-24 00:46] Morganamilo commented on #28
What exactly do you mean by state? You can easily just call `makepkg -C`. For the checked tars I'm not so sure how you'd want to handle that.

[2019-03-24 00:53] vn971 commented on #28
@Morganamilo I mean understanding whether a package lase already being built, if that was the latest version, etc. Basically, if RUA sees a directory, it currently has no way to know whether it's the last version that we need to build, and deletes it to ensure that build is not outdated.

[2019-03-24 00:56] vn971 commented on #28
Even though frustrating, the bug doesn't strike me as critical BTW, as it is: 1. documented 2. doesn't lead to stuff being run outside of jail, wrong package being installed on system, etc. Needless to say I will work on it anyways.

[2019-03-24 01:02] Morganamilo commented on #28
But makepkg will automatically rebuild the package if it is out of date.

[2019-03-24 01:11] vn971 commented on #28
@Morganamilo but how to update the AUR repo and its PKGBUILD?

[2019-03-24 01:19] Morganamilo commented on #28
Git pull?

[2019-03-24 09:09] vn971 commented on #28
@Morganamilo so instead of cleaning each time, you propose to build in a dirty dir... I have to think about it. It's not the way I planned it, but maybe it's OK.

[2019-03-24 09:24] Morganamilo commented on #28
Well you need to reset first to get rid of changes such as automated pkgver bumps. But you get to keep the sources and built packages that way.

[2019-05-19 14:55] vn971 opened #33 "Provide information on manual recovery for aborted installation"
Subj. In case of broken installation, RUA just exits with the error reason, but doesn't show any steps that could be taken for manual recovery.

Personally, however, I use manual recovery quite often, and I guess other people might want that as well. If this gets implemented, RUA would point to build process leftovers, e.g. `~/.cache/rua/my_package/build/`, and mention the possibility to build man

[2019-05-20 20:07] nolik opened #34 "implement Update functionality"
Hi, all. As a comma Arch user i wanna have update functionality of all available for update packages.
(something like yay main command).
I able to try implement it, and it will be grate to hear you advice about way to implement it.

[2019-05-20 20:16] nolik commented on #34
Suppose plan should be smth like this:

1.  synchronizes the repository databases
2.  find list out-of-date packages
3.  download list out-of-date packages
4.  update packages one-by-one in jail

It's too simplify and each step need to detalize.

[2019-05-20 20:18] Morganamilo commented on #34
In simple terms:
 - iterate through all packages with `alpm_get_localdb` and `alpm_db_get_pkgcache`
 - filter the list to packages that exist in the AUR and are newer than local, using `raur::info` and `alpm_pkg_vercmp`
- then use that list to install the packages as if they were specified on the command line.

[2019-05-20 21:35] vn971 commented on #34
@Morganamilo precisely!
Only thing to add -- we can probably also TRY to take care of "-git" / "-hg" / "-svn" packages somehow.

This area has loads of unanswered questions, however. How to do that? One alternative is to propose updating those if they haven't been updated in the last N days. But how would you know if a package is "-git"-like? Only by the name? Or would you store this information i

[2019-05-20 21:54] Morganamilo commented on #34
Yay caches the packages with git sources and uses `git ls-remote` to look for new commits directly. Pros is it just works instantly and knows when there is a new commit. cons is it needs to cache the data and only works for git.

Also regex is overkill, just check the suffix.

[2019-05-24 20:20] vn971 commented on #28
I fixed the `sudo` loop as well now, when it asked the same question over again even though the package is already installed. Commit https://github.com/vn971/rua/commit/dffee34c789827465c922f1b8245862ef8da32d7

[2019-05-24 20:46] #28 closed

[2019-05-24 20:53] vn971 commented on #28
And fixed the last part of the issue now -- missing to install `xen` and only installing `xen-docs` with the latest commit. Fixed in the latest commit & the new release.

The story with split packages should still be improved, but at least some common patterns are now covered. Hopefully I'll have some time for completely finishing split packages story in the weekends, but no promises.

[2019-05-24 20:55] vn971 commented on #13
We implemented (and refined) "search" functionality, it's available as `rua search target` :)

[2019-05-24 20:55] #13 closed

[2019-05-24 20:58] vn971 commented on #25
Implemented a few commits back.

[2019-05-24 20:58] #25 closed

[2019-07-01 10:44] vn971 opened #41 "feature request: offer to run shellcheck on PKGBUILD"
Offering to run `shellcheck` on PKGBUILD-s can help reviewing. The problem is that a pure invocation of `shellcheck PKGBUILD` will give numerous warnings:
* declared in PKGBUILD but "unused" variables like `$pkgname`
* use of undeclared variables `$srcdir`, `$pkgdir`
* maybe something else

These would better be handled somehow smartly. One approach that I can think of is to create a wrapper "scri

[2019-07-01 10:56] vn971 commented on #41
Numerous "unused" warnings have to be handled smartly (`$pkgname` and those kind of variables).

One way, for example, would be to create a wrapper "script" which sources the PKGBUILD and makes use of sourced variables. There could be better solutions, don't take this one blindly.

[2019-08-16 20:51] vn971 commented on #41
Working on this, hopefully will be done soon.

[2019-08-17 10:07] vn971 opened #44 "Use better name instead of "jailbuild""
It's sometimes assumed by people that "jailbuild" will build a remote package instead of local directory. A command name like `builddir` might be better. If this gets done, feel free to rename some Rust methods as well, so that "jailbuild" terminology is completely gone.

[2019-08-19 12:36] vn971 opened #47 "add support for local repository"
See https://wiki.archlinux.org/index.php/Local_repository#Custom_local_repository

[2019-08-20 17:18] vn971 opened #48 "flatten dependency grouping"
Currently, RUA schedules all dependencies of a package to be build strongly before the main package is built. It thus acts as if all dependencies would be "makedepends". If, however, there are few "makedepends" and many "depends", the build queue can be flattened more aggressively. It will thus further reduce the number of distractions that RUA makes for the user, which is an official value for th

[2019-08-21 09:44] vn971 opened #49 "rua upgrade command does not filter out lower versions"
If you have an AUR package where the version can dynamically change, locally installed package will have higher version than that written in .SRCINFO of the package. `rua upgrade` action should detect downgrade and exclude such packages.

It doesn't hurt to upgrade a dynamically changing package though (it's probably a `-git`-like one).

[2019-08-23 16:17] #1 closed

[2019-08-23 16:17] #21 closed

[2019-08-23 16:17] #34 closed

[2019-08-23 16:17] #41 closed

[2019-08-23 16:32] vn971 commented on #27
Probably that won't be needed in the end though as it's better to flatten dependencies instead: https://github.com/vn971/rua/issues/48
And if some AUR package is in `makedepends` of another AUR package, reviewing-everyhting-first is still a viable strategy.

[2019-08-23 16:32] #27 closed

[2019-08-23 16:34] vn971 commented on #44
fixed with https://github.com/vn971/rua/commit/25d4da9154b71613b4d36d24c02b5ddd801f5c6a

[2019-08-23 16:34] #44 closed

[2019-08-23 16:39] vn971 commented on #33
Starting from this commit https://github.com/vn971/rua/commit/0459a8b0621b887ef7bdc8881d9592bb8256fb35#diff-6da5592bee7706e008544151851e86edR9 RUA will already ask your confirmation before removing old builds. That was the main pain point I think. The rest can probably be observed from just the build logs.

[2019-08-23 16:39] #33 closed

[2019-08-23 18:12] #49 closed

[2019-08-24 07:54] vn971 opened #50 "еыжшк information fetching"
Сurrently, dependencies of AUR packages are resolved one-by-one, with each unseen AUR package being resolved via a separate HTTP request to https://aur.archlinux.org/rpc

Making grouped requests for a number of AUR packages at once would allow faster information retrieval.

[2019-08-24 10:14] #48 closed

[2019-08-25 08:50] #50 closed

[2019-08-25 09:14] vn971 opened #53 "introduce compile-time options for alpm: "shelling" or "linking""
Currently, rua always uses the linked library alpm.rs (with underlying bindings to alpm/pacman) to determine installed packages, installable packages, packages outside of main repos, etc.

This is not always desireable as it will break with each ".so" change of the underlying native library. Futhermore, it breaks when switching from `pacman` to `pacman-git` and back. Yet we only use very basic inf

[2019-08-31 12:31] vn971 commented on #20
This seems too complex for an already not-so-standard `--offline` flag.

What we _could_ do, however, is we could run `makepkg --printsrcinfo` to get parseable information from the PKGBUILD, and the use already existing code to download all the sources. This way, PKGBUILD is run in offline mode only, but sources are downloaded nonetheless. Seems like "the best of both worlds".

Not sure we need th

[2019-09-02 09:02] vn971 opened #56 "create MR for raur to support `rusttls`, and then use this feature in RUA"
subj. Using `rusttls` seems to make sense as it is a mostly-Rust library that is a drop-in replacement of the current `openssl` dependency.

[2019-09-03 17:44] vn971 commented on #56
MR created and merge -- waiting for raur release. https://gitlab.com/davidbittner/raur/merge_requests/8

[2019-09-04 11:42] vn971 opened #57 "respect pacman HoldPkg packages when doing upgrade"
Currently, RUA tries to offer upgrades for any AUR packages that have upstream updates. We also have pacman-s `HoldPkg`, which serves a different, but similar purpose (its main purpose is to instruct pacman on its actions). Re-using it in RUA seems like a straightforward action.

Opinions welcomed.

Possible implementation 1: this list of ignored packages can be obtained by `pacconf --null HoldPkg

[2019-09-05 02:27] heropoo opened #58 "No such file or directory"
A error
[code]
return when i run `rua search some-pkg-name`.

So i `mkdir -p ~/.config/rua`, the error is not display

[2019-09-05 06:56] #58 closed

[2019-09-05 07:03] #57 closed

[2019-09-05 07:23] vn971 commented on #58
@heropoo thanks for reporting! The problem is that I switch to not creating system directories for commands that do not require them. This requirement, on the other hand, is not controlled by the type system, and it's hard to miss (as it was in this issue).

In the commit that closes this issue, I started always creating system directories. Even for commands like `search`, which doesn't need _most

[2019-09-05 07:25] vn971 commented on #58
EDIT ^

[2019-09-05 07:45] vn971 opened #59 "make `upgrade` action faster by grouping raur requests"
subj. Currently, all raur requests in `upgrade` action are done sequentially. Grouping them should improve the speed of `upgrade` action, which is nice, and also reduces load on AUR servers.

[2019-09-05 08:05] Morganamilo commented on #57
Why not just use ignorepkg?

[2019-09-05 08:24] vn971 commented on #57
Could be used as well I guess. But pacman-conf seems to be working as well, and it's not performance-critical (in fact, barely measurable, if at all).
Would also require about the same amount of code that the current solution took.

[2019-09-05 08:32] vn971 commented on #57
That's how I feel about the situation now, anyway. When I wrote this feature, I just asked on #archlinux-aur on possible solutions, and picked the first one that seemed working.

[2019-09-05 12:09] Morganamilo commented on #57
Not sure what you mean. You'd still be using pacman-conf, just `pacman-conf IgnorePkg` insead.

[2019-09-05 12:14] vn971 commented on #58
.. And quite sadly I made another mistake regarding escaping yesterday. (Escaping should've been just for beautiful visual printing, but leaked elsewhere). Noticed and fixed now in release 0.14.9 b02da858873b0b0c458acf4713a8db178e9e0337

[2019-09-05 19:51] vn971 commented on #57
@Morganamilo did just that in commit above.

[2019-09-06 08:42] vn971 opened #60 "rua installation of git packages broken"
Currently, rua uses a whitelist of package names when checking tar files (to install packages from split pkgbases separately). This is problematic for -git   packages, and generally, packages where .SRCINFO version differs from PKGBUILD version.

This was introduced recently and needs to be fixed.

[2019-09-07 07:48] fox8091 opened #61 "rua fails to build"
rua currently fails to build, failing on this line https://github.com/vn971/rua/blob/master/src/pacman.rs#L63.
The error message is

[2019-09-07 08:29] vn971 commented on #61
Interesting.. It certainly builds for me, just checked. The CI is happy with the build status as well, says "build | passing" https://github.com/vn971/rua https://travis-ci.org/vn971/rua/builds

Which version of Rust do you use?

Maybe I can make some changes to support a bit older versions of Rust. Meanwhile, if you use rustup and you'd want to upgrade the rust version, use `rustup update`

[2019-09-08 20:22] #60 closed

[2019-09-08 20:31] vn971 commented on #61
You can get the version of Rust that you're using by runnig `rustc --version`.

[2019-09-09 07:15] fox8091 commented on #61
It was an outdated version of Rust, but I'm not sure how to figure out the version I was on. rua does build on the latest stable version though.

[2019-09-09 07:19] vn971 commented on #61
@fox8091 did you build via AUR (`makepkg -i` or another helper), or you've built it the Rust way, `cargo install rua` ?
That could help understanding what's happening.

[2019-09-10 07:13] #59 closed

[2019-09-10 10:03] Morganamilo opened #65 "asdeps and explicit are not handled properly"
Currently rua uses a pretty naive solution to figure out is a package should be installed explicitly.

There's currently two problems with it:

1. It assumes an entire pkgbase is either asdeps or explicit. This it not the case, for example if I install `libc++` then `libc++abi` will get pulled in as a dependency.  Currently rua will suggest them both be explicit.

2. Install reason should not chan

[2019-09-11 22:42] Morganamilo opened #67 "Anything that requires AUR dependencies to build now fails."
The reasoning behind commit https://github.com/vn971/rua/commit/1925fc244861859da8304a9a96d2507c5a26fc66 really confuses me. Skipping dependency checks is a bad idea. If the issue is that makepkg is complaining about missing deps... then your problem is you need to have the deps installed, not just skip dependency checks.

As a result, anything that requires an AUR package to build now fails under

[2019-09-11 23:44] vn971 commented on #67
I was again trapped by the naming in the PKGBUILD that I find extremely counter-intuitive. You could think that `makedepends` relates to things required at make time, `depends` relates to things required at run time, and specifying a package in both `depends` and `makedepends` would require both.

In reality, however, `depends` silently implies `makedepends`. I forgot about that implication. Ackno

[2019-09-11 23:49] Morganamilo commented on #67
I did mention that in #63, maybe you missed it?

[2019-09-11 23:56] #67 closed

[2019-09-11 23:57] vn971 commented on #67
I'm very tired recently (lots of things going on) and I didn't have energy to fully address #63, but I wanted to make a quick fix for one of the issues mentioned there (but I though you were wrong on grouping notice and wanted to make a quicker fix).

I did fix both this issue and the original now though. Even though I'm a bit scared on releasing now, considering 2 AM and being tired. Will release

[2019-09-12 00:00] vn971 commented on #67
.. And this: https://github.com/vn971/rua/commit/dea2eb100129d4251605a32db6cef1da0d42102c

[2019-09-14 15:01] vn971 opened #68 "visualize dependencies as a tree"
When installing or upgrading packages, visualize the the expected changes / depedency hierarchy with a tree:
[code]

As a first implementation, just printing AUR deps could work. This can be further improved by printing pacman deps, showing broken AUR/pacman deps right in the tree, and maybe visually separate AUR and "repo" packages with color.

[2019-09-14 15:04] vn971 opened #69 "add support for namcap"
Currently, RUA has a step where built packages are analyzed. It seems very logical to add `namcap` to the list of possible actions. When doing this feature, don't forget to add namcap to optdepends. Also, README.md must be updated suggesting to install namcap.

[2019-09-15 22:31] vn971 commented on #65
Since both potential problems are apparently not touching the tool, closing.

[2019-09-15 22:33] vn971 commented on #61
The problem most probably only affects older versions of Rust. (Again, all manual tests and CI run just fine).
So, closing. Please re-open if the version will be known and it'll be more or less recent. Otherwise, run `rustup update`.

[2019-09-15 22:33] #61 closed

[2019-09-16 11:32] vn971 opened #70 "improve detection of package names to install"
Currently, rua uses a global whitelist of packages that are needed to install. It is not a per-pkgbase thing.

Making it local to each pkgbase would make the algorithm more simple/straightforward, allowing less mistakes to happen.

The downside is that another `makepkg` invocation would need to be made (but it's still deemed to be a good thing).

[2019-09-16 19:16] Morganamilo opened #71 "What is the point of clean_package_name?"
I understand makepkg has these restrictions on pkgname.

I could some what understand if this function returned an error, but instead is actually edits the depend's name.

What does this aim to solve? If the package had an invalid depend then you assume the depend will fail to match a package anyway and you end up with a clear missing package error. If the depend does match something then fine, so

[2019-09-16 19:42] vn971 commented on #71
hm, interesting. Well, one obvious goal is to not have versions in the package name. That's how it's used during normal operation.

Regarding the part that does assertions. I think there are certain character that, should AUR RPC ever return them, would/could break RUA. For example, the directory separator `/`, or null bytes, or maybe even a name starting with a dash. The client is obviously not w

[2019-09-16 20:56] Morganamilo commented on #65
Both problems? 1 is still valid

[code]

[2019-09-17 06:40] vn971 commented on #65
Opening until I re-test it.

[2019-09-17 18:09] vn971 opened #73 "code: deduplicate print_package_info::info and aur_rpc_utils::info_map"
See subject.

[2019-09-17 18:20] vn971 commented on #65
Confirming that it's a bug.

[2019-09-22 10:18] SimonSapin opened #75 "implement building ABS (non-AUR) packages"
rua’s support for maintaining local patches looks great. The approach of keeping a local git branch and merging from AUR with git is unique as far as I know.

I’ve been using [`customizepkg`](https://github.com/tucho/customizepkg) together with [`yaourt`](https://archlinux.fr/yaourt) for similar functionality. Importantly, this also works with packages from non-AUR official repositories (`core`, `

[2019-09-22 10:28] Morganamilo commented on #75
Yay and aurutils support this as well at least. I would discourage from adding ABS support for the feature of feature creep. Plus there's already a great tool called `asp` for using the abs.

[2019-09-22 10:46] SimonSapin commented on #75
Thanks, I will look some more into yay and aurutils.

`asp` looks like it could be good building block, but does not itself automate the scenario of downloading binary updates from official repository except when local patches are configured, in which case rebuild from source with patches reapplies.

Regarding feature creep, that’s totally understandable. It appears to be a design decision of this

[2019-09-22 10:58] vn971 commented on #75
@SimonSapin glad you like the local patch application technique! Works pretty stable indeed. I don't know how/if other clients support that. None seem to advertise this feature. I just tried to use `yay`, but I couldn't find a way to patch a local package. Maybe you can do it manually if you drop to shell though.

If ABS can be added as a simple self-contained action, it could be considered I thin

[2019-09-22 11:08] vn971 commented on #75
So one alternative is to assume that the user is totally aware of split packages and won't have problems with them. Then it'd work like:
* `rua buildabs pkgbase`
* use the already exisiting review capabilities of RUA, with only a different `git` address
* internally invoke `rua builddir`, which would build the package, and review its contents after building

This way, almost 100% of the functional

[2019-09-22 11:16] vn971 commented on #75
EDIT ^

[2019-09-22 13:35] SimonSapin commented on #75
Does AUR have any split packages? How does rau deal with those?

[2019-09-22 14:35] vn971 commented on #75
@SimonSapin it uses AUR HTTP interface: https://aur.archlinux.org/rpc

I gave the idea more thought, I think it'd be OK to only support building "pkgbase" as a first step. It'll be the user's responsibility to find the correct name then.

If you'd be willing to write an MR that introduces this subcommand and basically reuses already existing functionality (with a different git address), I think it

[2019-09-22 19:07] Morganamilo commented on #75
Not sure what's so hard about getting the pkgbase of a pkgname. Just query alpm.

[2019-09-23 07:37] vn971 commented on #75
@Morganamilo indeed, thanks for the hint!

[2019-09-30 05:31] vn971 commented on #75
@SimonSapin would you be willing to work on this? It's fine if you don't, just better to know.

[2019-09-30 05:59] SimonSapin commented on #75
I was hoping for a (set of) tool(s) that would automate the entire workflow of updating ABS packages with local patches: see (through `pacman -Sy` or similar) that a newer binary package is similar, skip it and get its `PKGBUILD` instead, merge with local changes, rebuild, and install.

Limiting rua’s scope is totally understandable. But that feature is only a marginal improvement over the status

[2019-09-30 06:21] vn971 opened #77 "propose installing built package at the end of `builddir` action"
see subject.

[2019-09-30 07:47] vn971 commented on #75
I'll re-open to think about it a bit more (currently on a vacation).

[2019-10-15 14:56] kuon opened #79 "Configuration for alternative sudo command"
On my system, I use `doas`, for different reasons. I would love for rua to support configuration of the `sudo` command for something else.

[2019-10-15 16:30] vn971 commented on #79
@kuon you probably don't want to `ln -s /usr/bin/doas /usr/local/bin/sudo`, right? Doas is not exactly a drop-in replacement?

[2019-10-15 16:40] kuon commented on #79
No it is not, but more importantly, my doas isn't installed as `doas` but as a custom name, like `dx8`, in a non standard location, this is a trade off I found that let me type short commands while protecting against malicious scripts. Of course it's not perfect, and won't help against a targeted attack, but it works against most "woopsises".

[2019-10-16 21:48] vn971 commented on #79
@kuon: what do you think of a PR like this: https://github.com/vn971/rua/pull/80

Does that sound like something convenient to use for you?

TBH I'm thinking of delete CLI support and only rely on environment variables. After all, I have hard time imagining people switch "sudo"-like commands often between invocations.

[2019-10-17 00:30] kuon commented on #79
I think ENV or conf file would make more sense than a command line flag. ENV is easier and I don't think if a config file would be justified.

[2019-10-17 15:58] theotherjimmy opened #81 "panic when removing non-empty stale build directory"
to reproduce, do something like:
 - Control-c a build midway through
 - Attempt to re-run install, rua will tell you that it will remove the build dir.
 - Be okay with that
 - panic!

Such as:
[code]

[2019-10-18 07:54] vn971 opened #82 "implement zstd archive format"
ArchLinux recently announced that they will use/support zstd archive format: https://www.archlinux.org/news/required-update-to-recent-libarchive/

Support for it in RUA is not urgent/critical (it will just build in archives it knows), but is ultimately desired to move along with upstream development. Especially the `tarcheck` command, which should be able to look into packages built with e.g. just

[2019-10-18 07:57] Morganamilo commented on #82
Arch's repos are switching from `xz` to `zstd`. makepkg's default will still be `gzip`.

[2019-10-18 07:59] Morganamilo commented on #82
Actually I partially take that back. makepkg's default is `gzip` but the makepkg in arch's repos is tweaked to use `xz` by default. That would make me assume the default will indeed be `zstd`.

[2019-10-23 08:04] vn971 commented on #79
yeah, so we're on the same line of thought here. Updated the PR, will soon merge.

[2019-10-25 22:58] aacunningham commented on #81
I ran into this issue too, so I did a little digging. I haven't really reviewed the changes in the `rm_rf` package, but this issue is resolved with the latest version of `rm_rf` (0.4.1). I can put a PR up later, though I haven't reviewed the changes other than a personal test on my machine with a similar problem.

[2019-10-25 23:44] vn971 commented on #81
@aacunningham yes indeed. I'll make a fixing PR soon.

[2019-10-27 16:48] #81 closed

[2019-10-30 00:45] aacunningham commented on #73
I'm willing to take this on if you want. I can probably get an implementation of this where `info_map` is called inside of `info` if that sounds good to you.

[2019-10-31 12:38] AblingerOscar opened #86 "feature request: option for upgade to only output"
It would be nice, if there was an option for `rua upgrade` that would not prompt to update the packages, but instead only list them.

This would be useful, if you only want to check if there are outdated packages (for instance in a script to regularily check the amount of outdated packages and print them somewhere (e.g. polybar))

[2019-10-31 12:56] vn971 commented on #73
@aacunningham sorry for the late reply.
Sure! It would be quite welcomed.

[2019-10-31 12:57] vn971 commented on #86
Sounds like a straightforward and natural feature/property. Would you want to implement it, or would you prefer for me (or somebody else) to implement it? Both are pretty fine.

[2019-10-31 12:58] vn971 commented on #86
The way to do it, I guess, would be a CLI flag like `--printonly`, e.g. `rua update --printonly`. Didn't think much about the name yet, maybe will end up with something different.

[2019-10-31 13:03] AblingerOscar commented on #86
It seems pretty straight-forward. I'd offer to make a PR, but I've never worked with Rust before, so it'd probably if my first contact with it is not in a live project, even if it's just a small change :P

I imagined a CLI flag, yes. `--printonly` sounds good.
Alternatively, I initially thought about `-l --list`, but yours is a bit more descriptive

[2019-10-31 13:18] vn971 commented on #86
No problem, I'll make the change then. If this flag is intended to be used from scripts, then the additional length shouldn't hurt too much, so I'll start with `--printonly`.

[2019-10-31 14:08] #86 closed

[2019-10-31 14:10] vn971 commented on #79
This was implemented in PR-80, closing.

[2019-10-31 14:10] #79 closed

[2019-10-31 14:17] vn971 commented on #71
So to re-iterate:

This part is there by design. I don't want to extend trust for correctness to external systems (AUR RPC), so I'd double-check package names locally as well. This is fine for me, I think it's an OK approach.

The only way the current code edits the name is it removes the version. This is **currently** by design as, RUA is currently unaware of versions. I'm beginning to be a bit d

[2019-10-31 14:17] #71 closed

[2019-10-31 18:16] vn971 commented on #53
Closing along with the underlying PR above. This approach is deemed to have too high of a maintenance cost. Regardless whether it's shelling to pacman or linking to libalpm, it's better to only have one way of doing the thing for now.

[2019-10-31 18:16] #53 closed

[2019-11-11 19:55] kuon opened #89 "Tar cannot change ownership to uid 0, gid 0"
I am not sure if this is rua's fault (because of the permission architecture it uses), or if the PKGBUILD of the package must be changed.

The package I am trying to install is:

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ms-teams

And I get the following errors (truncated, as there is the same error for all files in the archive):

[code]

Adding `--no-same-owner` to the tax extract co

[2019-11-11 21:05] vn971 commented on #89
I think the PKGBUILD is broken, because packages are by design built from non-root user. It should thus not be capable of creating root-owned files -- at all, ever.
I think it won't even work with a vanilla `makepkg -f`, though I haven't tried.

Closing for now, feel free to re-open if you're sure it builds with `makepkg -f` and we need to make some changes to build it as well.

[2019-11-11 21:17] Morganamilo commented on #89
Makepkg runs package in fakeroot so that root owned files can be created.

[2019-11-12 00:30] kuon commented on #89
Yes, it does work with `makepkg` but I wasn't sure if this particular scenario should be supported by rua or if we should patch the `PKGBUILD`.

[2019-11-12 00:41] kuon opened #90 "When using fish shell, terminal is stuck after inspecting"
When I do (with fish shell as login shell):

`rua install <pkg>`

and at this prompt press T

`[S]=run shellcheck on PKGBUILD, [D]=(identical to upstream, empty diff), [T]=run shell to edit/inspect, [O]=ok, use package `

I am redirected to a shell inside the package, where I can modify the PKGBUILD, but after exiting that shell with `exit` or `ctrl+d` I have that prompt again:

[code]

but keys a

[2019-11-12 09:21] vn971 commented on #89
Hmmm, that's interesting. I've just tried to build `ms-teams`, and it builds fine for me. I used `rua install ms-teams` to do it.

[code]

Need to think about it a bit more.

[2019-11-12 09:35] vn971 commented on #89
@kuon  Do you have any "wrap_args" configured in RUA on your system?

[2019-11-12 11:56] vn971 commented on #90
Could it be that fish starts up a daemon, and then doesn't properly free up the input from itself?

Can check out the process tree to see if `rua` has descendant processes running after invoking `fish`?

[2019-11-14 15:27] kuon commented on #90
After pressing T, when I am in the fish sub shell, I see fish as descendant from rua.

This is the `strace` of rua:

[code]

This is the strace of the sub running fish shell (attached when running, and I just did Ctrl+D:

[code]

[2019-11-14 15:33] vn971 commented on #90
Yeah, that's what I thought. Would it then make sense to start `fish` beforehand outside of `rua`, or invoke it with some parameter that disables background daemon creation? I mean, if fish by design works by grabbing some kind of access to a terminal, while other shells don't, then it seems to be fish-specific?

[2019-11-14 15:50] kuon commented on #90
I opened an issue on the fish project, because I do not know what would be the best approach to solve this.

[2019-11-14 16:31] faho commented on #90
This is indeed a fish issue that's fixed in the next release.

The problem is that fish 3.0.x due to a bug doesn't reset terminal modes - in particular "echo" and "-icrnl"/"-inlcr" - in this case, so it doesn't appear like your input is registered, and it indeed will treat enter differently, so you'd have to press ctrl-j.

[2019-11-14 16:33] vn971 commented on #90
Nice, thanks for the very quick response and the explanation!

[2019-11-14 16:34] vn971 commented on #90
I'll close it on this side then since there's not much `rua` can do about it, and it'll be fixed in next release.

[2019-11-14 16:34] #90 closed

[2019-11-15 20:20] kuon opened #91 "Missing syscall when installing streamlink"
I tried to install `streamlink-git` AUR, and I get the following error:

[code]

It installs fine with `makepkg`.

Coredump:

[code]

[2019-11-15 20:29] kuon commented on #89
No I have no `wrap_args` configured.

[2019-11-19 15:17] vn971 opened #92 "Unclear error reporting when running rua inside rua"
Steps:
* start installing something, e.g. `rua install xcalib`
* when reviewing the repo, type `T` to go to a terminal
* try to run `rua` from this terminal

Expected at this point:
RUA tells you that you're running it inside itself, or fail with some other easy to understand reason

Actual behavior:
[code]

Possible solution: use the already existing mechanism to prevent running multiple instance

[2019-11-20 09:03] vn971 commented on #6
For the record, `rua` will now fail-fast if it sees that the security jail cannot be launched. It will also explain the situation explicitly.

Commands that do not require the jail, like `rua search`, `rua info`, `rua upgrade --printonly`, can be run just fine.

[2019-11-21 16:37] es20490446e opened #93 "Enhancing building speed by changing compression type"
Be aware of [this](https://gitlab.manjaro.org/applications/pamac/issues/651).

[2019-11-21 17:09] vn971 commented on #93
Am I right that the request is to support `.pkg.tar.gz` archive format?

[2019-11-22 09:19] vn971 commented on #93
Notice for myself: if `gzip` support is at question, this library might be worth looking into. Need to see if it can be wrapped as streaming tho.

[2019-11-22 15:56] cedws commented on #6
Thanks, I will take another look at this project when I get the opportunity.

[2019-11-22 19:08] es20490446e commented on #93
I just read that Arch is planning to default to zstd, so no fix will be needed here.

- [Arch thread](https://lists.archlinux.org/pipermail/arch-dev-public/2019-March/029520.html)
- [Pacman git log](https://git.archlinux.org/svntogit/packages.git/log/?h=packages/pacman)

[2019-11-22 19:08] #93 closed

[2019-11-22 19:49] vn971 commented on #93
@es20490446e I got interested by all that and implemented .gz archives anyway though:) https://github.com/vn971/rua/commit/fb897550469c03558d0f1ada7d1b7e242098b59a

Also, raised a feature request here: https://github.com/KillingSpark/zstd-rs/issues/4

[2019-11-22 19:50] vn971 commented on #82
// I've raised a feature request to support streaming read in zstd-rs: https://github.com/KillingSpark/zstd-rs/issues/4

[2019-11-22 19:55] vn971 commented on #93
And yeah, there's an issue to support zstd here as well (created by me few weeks ago).

[2019-11-23 12:38] es20490446e commented on #93
Oh, okay :)

[2019-11-24 21:38] ionphractal commented on #89
I have the same issue, also no wrap args. No luck with `rua install ms-teams` nor any other packages I've tried so far that use tar in `package()` function (e.g. keybase-bin, signal-desktop-bin), which is executed under fakeroot.

Not sure if that is replicable for you, but running the rua container with fakeroot produces the same error for me. For example if you downloaded the rua-0.15.1.tar.gz r

[2019-11-24 22:55] vn971 commented on #89
Very interesting... BTW, do you have `bubblewrap` package installed, or `bubblewrap-suid`? (I have the latter because I'm running on `linux-hardened` kernel, which doesn't have `userns`.)

[2019-11-25 00:56] kuon commented on #89
I have `bubblewrap 0.3.3-3`

[2019-11-25 18:21] ionphractal commented on #89
I had also `extra/bubblewrap 0.3.3-3` installed, switched to `bubblewrap-suid` and no issues - even though I use the normal linux kernal in Arch.

And it is no wonder suid works because it is actually using root permissions (https://en.wikipedia.org/wiki/Setuid).

[code]

I feel like it gives the security concept a little crack. But I guess even though the container wrapper is executed as root, th

[2019-11-25 18:32] ionphractal commented on #89
Seems like this bug https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=909727 and yes: the presented workaround works:
[code]

[2019-11-26 10:18] vn971 commented on #89
@ionphractal very interesting indeed. Thanks for digging it up and explaining.

Bubblewrap being root (suid) is a known thing, yeah. It conceptually works by preparing a namespace jail, dropping off rights and then running the requested program with user permissions. It is believed by the tool that this is safer than enabling `userns`, which had great many CVE-s in the past. ArchLinux, however, sw

[2019-11-26 10:22] vn971 commented on #89
I wonder what I need to do with the issue now. Options that I see:

1. mark it as a bug and leave it hanging in the issue tracker documenting the thing

2. pass `FAKEROOTDONTTRYCHOWN=true`. It generally should be OK for most builds that I can imagine. But just because of how terrible hack that is, I'm seriously considerate on doing that..

[2019-11-26 18:23] vn971 commented on #91
That's an interesting one.. I tried to find the 31-th system call, but somewhy weren't able to do it easily. Have to dig up the history related to getting this info, I knew how to do it in the past..

For the record, is your system-s architecture? (`uname -m`)

[2019-11-26 18:50] ionphractal commented on #89
For me personally I just added the statement to a `.config/rua/wrap_args.d/fakeroot.sh` file which is a normal bash script that is sourced before bwrap is called -> not nice but works. In any case I would be document it in the README because it is quite an obvious yet unintuitive issue.

But despite that: providing two packages (or something like a double-package like bubblewrap, see itself https:

[2019-11-26 19:36] vn971 commented on #89
@ionphractal regarding implementation of the thing. I think you can put such a logic even right in wrap.sh script:
[code]
This has the advantage that it'll work even if the user changes kernels during reboots.

The main question for me, however, is to whether have this env variable at all or not.. I think I'll limit the actions to documenting in README for now, and see if many more reports like th

[2019-11-26 20:00] kuon commented on #91
`Linux yoda 5.3.11-arch1-1 #1 SMP PREEMPT Tue, 12 Nov 2019 22:19:48 +0000 x86_64 GNU/Linux`

I did an strace, it is very verbose, but I think this part can be of interest:

[code]

[2019-11-26 21:09] ionphractal commented on #89
Yes it could be in the wrap.sh script but you would have change your template and create a new version, which is why I put it into the sourced file. It would at least need to be before the source so that in worst case it could be overwritten.

Can't tell you what action suits you best but having it documented would be a great start I think.

[2019-11-27 12:19] vn971 commented on #91
BTW, for the record, I'm using this seccomp file generator: https://github.com/kurnevsky/dotfiles
/blob/master/.seccomp/seccomp-gen.c

Offtopic: I'm not doing a very good job at including it in binary for now, but at least it's reproducible (and it's not an executable binary, it's a declarative seccomp description).

Back on-topic: something among those blacklisted calls is 31 for python/sphinx. D

[2019-11-28 02:37] kuon opened #95 "Cannot build chatty"
I tried to install `chatty`, a java app, but the tests fail with the following error `java.lang.NoClassDefFoundError: Could not initialize class sun.awt.X11GraphicsEnvironment`

Is it because the environment inside rua doesn't have access to the X11 session?

[2019-11-28 10:35] vn971 commented on #95
Yeah, it tries to access X11, which is unavailable. It is a conscious choice to isolate as much as possible when building packages in RUA.

[2019-11-28 10:40] vn971 commented on #95
Offtopic:
I'm unsure why it's unavailable BTW, because on a default ArchLinux setup, X11 can be accessed via abstract sockets. This is the thing that you can see here: `ss -l | grep @`. It's possible that java doesn't know how to use abstract sockets and only knows how to connect to the normal "file"-like sockets.

There are other apps that can access abstract sockets, and thus your graphical syst

[2019-11-28 10:41] vn971 commented on #95
Does that answer it / any concerns?

[2019-11-30 21:12] kuon commented on #95
I use i3 and start X11 with `startx` so it might be a reason, I still get the socket in `ss-l`

`u_str              LISTEN              0                    128                                                                              @/tmp/.X11-unix/X0 31069  `

I tried using `wrap_args` to mount `/tmp`, it failed at first but then it passed after using `xhost +` to disable access control, I g

[2019-11-30 21:14] kuon commented on #89
Just for reference of other packages that fails to install:

- `google-earth` (`bsdtar` `./usr/bin/google-earth: Can't set user=0/group=0 for usr/bin/google-earth`)
- `chatty` (`bsdcpio: Can't set user=0/group=0 for LICENSE`)

[2019-11-30 21:30] kuon commented on #89
As the debian bug was open since 2018, do you have an idea when/how we could get this fixed? I am not familiar with debian development process. The fix seems trivial, handling `EINVAL`.

This seems an important enough issue to have it fixed asap.

One alternative would be to fix fakeroot and ship a patched version with rua, this would be miles better than `FAKEROOTDONTTRYCHOWN=true` which could br

[2019-11-30 22:17] vn971 commented on #95
It's neater to also mount ~/.Xauthority then: `--ro-bind ~/.Xauthority ~/.Xauthority`. Might also be better as `xhost` is extremely easy to misconfigure in an unsafe way.

`--forward-x11` is entirely possible from a technical perspective. It would just automatically bind: `--bind /tmp/.X11-unix /tmp/.X11-unix --ro-bind ~/.Xauthority ~/.Xauthority`. Not sure how common that'll be...:thinking:

[2019-11-30 22:19] vn971 commented on #95
Do you remember if there's maybe some "virtual" X11 server? Like Xephyr that nests apps into a parent X11, but then a fully virtual one that doesn't nest anything anywhere at all. But still usable for building/testing X11 apps.

[2019-11-30 22:33] kuon commented on #95
Yeah of course, `xhost +` was just to make it work, mounting `.Xauthority` is the way to go.

As for dummy X11, there is `xf86-video-dummy` and `xf86-video-nested` which is the modern version of `Xvfb` and `Xzephyr`.

Using X11 dummy is done like this:

`dummy.conf`

[code]

Then start `X11` with `/usr/lib/Xorg :1 -config dummy.conf`.

[2019-11-30 23:04] vn971 commented on #95
The tool `Xvfb` is mentioned as "deprecated" on wikipedia, but it seems to work quite well with providing a virtual, separated X11. You can start it just from the command line via `Xvfb :2`.

We can then maybe introduce a flag like `--virtual-x11` to automatically create a virtual X11 (whatever that'll be), with a predefined DISPLAY number, and pass that environment variable to descending processe

[2019-11-30 23:06] vn971 commented on #95
Note: you'll probably have to work on such a feature on your own, should you wish to. At least until I or many other people stumble across the same thing.

[2019-11-30 23:26] kuon commented on #95
I suggest we keep this issue open for now, and if other people mention interest in it I'll try to implement it.

I think it could be of interest for CI mostly.

[2019-12-02 10:34] vn971 commented on #89
On the other hand, you should never rely on owners inside a *.pkg.tar package anyway, right? I mean, what would be a scenario where you need a specific owner/group inside a file in `pkgdest`?

I'll ask in #archlinux-aur as well, just in case.

[2019-12-02 12:52] vn971 commented on #89
UPD: this statement is not correct. Ownership, when set in `prepare()` or `package()`, is preserved during installation.

[2019-12-04 10:29] vn971 commented on #89
The proper work-around seems to be doing the `untar` / `bsdtar -x` command inside `prepare()` function of PKGBUILD, not in `package()`. This is proper from makepkg-s design and it also helps us avoiding the bug.

I do not have a patch to fix fakeroot as well, so that approach is not possible for me. If there'll be such a patch, we can submit it to fakeroot for upstream merging as well I think.

I'

[2019-12-04 10:36] vn971 commented on #89
I've documented X11 access restriction and fakeroot bug situation [here](https://github.com/vn971/rua#limitations) and [here](https://github.com/vn971/rua/blob/master/docs/x11access.md)

[2019-12-10 12:42] vn971 opened #96 "command builddir should assume directory "." by default"
Currently, it's not possible to just launch `rua builddir`. It will ask for a target location (PKGBUILD or directory). It would be nicer to build the current directory directory `.` by default.

[2019-12-11 19:59] kaphula opened #97 "Full package names on search"
When search is used to display a list of available packages, there's a chance that the search will find a package with so long name that it won't fit in the search results. Is there any **easy** way for the user to find out what is the full name of the package that gets hidden so he/she can install the package using rua?

For reference, searching for packages with: `rua search timer` gives couple

[2019-12-11 20:30] vn971 commented on #97
@kaphula with the current code it's not possible to configure. I did stumble across a similar thing recently, and changed the constant: https://github.com/vn971/rua/commit/77f427f1403ac0352cc81b58457ff98b85ec96c6  There weren't any releases with this commit yet, but should happen soon.

If you want to work on making it configurable, and also have ideas on how to do that (there are many ways possib

[2019-12-11 21:30] vn971 commented on #97
Would you be willing to work on such a feature?

P.S. I've made a new release.

[2019-12-11 23:15] kaphula commented on #97
I could dive in to this once I get a chance with some free time. This would be a good chance to learn some Rust I guess.

I think there are few ways to approach this. I assume the trunc constant is needed in order to keep the lines aligned with the following version and description.

You could just loop through the searched packages once and see which one of them is longest and use that length as

[2019-12-12 09:37] vn971 commented on #97
@kaphula one thing you can easily do as well is just not use the `trunc` function at all. This might lead to some weird results for super-long package names, but maybe it's all right.

Taking the longest value is already the table printing library behavior actually. `trunc` was only used to limit it. You can test with some short-named packages to see that it `trunc` only sets the upper limit, not

[2019-12-12 09:45] vn971 commented on #97
So as far as I see, the alternatives are:
* just never truncate the name
* allow configuring the trunc size (?a bit weird configuration?)
* allow configuring an actual formatting schema, something like `--format='%n36 %v14 %d'` , but I'm open to other formatting alternatives as well ofc. The hard part with this approach would be to split this string into components and put the values in separate c

[2019-12-12 19:31] kaphula commented on #97
What do you think about this approach:

- The package names will never get truncated so that they will be always fully visible
- The version number string gets truncated to 14 characters or less always
- The description gets truncated according to this formula:
`terminal_width - package.name.len() - version.len()`
**if** the number of packages to be displayed is greater than 1.

`terminal_width` i

[2019-12-13 20:25] hiciu commented on #91
I am having the same issue with `rua install doctl`:

[code]

`dmesg` gives me that, but I'm not sure how to read it:
[code]

`coredumpctl info` says:
[code]

Stack trace is constant for given package version. When I encountered this bug for the first time few weeks ago it looked like this:
[code]

[2019-12-17 16:23] vn971 commented on #97
Sorry for the late response, I was quite busy in the last days.
I'm certainly fine with the first two steps (no limit at all for name, limit for version).

On the last proposal of limiting description, I'm not sure. Maybe we should instead look into something like this?: https://github.com/vn971/rua/pull/36 This is an already merged branch, so we actually have the code already in place. We can may

[2019-12-17 17:07] vn971 commented on #97
@kaphula  Or to clarify, if you'd be willing to work on the "column approach" as in that other PR, it can be merged as-is, without a separate CLI flag. For the more advanced approaches, some CLI configuration would be nice of course.

[2019-12-18 17:07] kaphula commented on #97
I think the column approach looks good seen in https://github.com/vn971/rua/pull/36, especially in the first screenshot. I also agree with you that the pacman's search results are unreadable.

So should the search output look something like this where description gets its own cell with unlimited height:

[code]
For the time being, I am not the right person to implement these features and changes,

[2019-12-18 17:28] vn971 commented on #97
Yeah that's true. On the other hand, it's just sometimes fun to collaborate.:) Will probably do it after 4hours from now, if you won't.

A separate library to print tables would possibly be nice for the Rust ecosystem. Some day in future...

[2019-12-18 19:36] #96 closed

[2019-12-20 07:55] #97 closed

[2019-12-20 07:57] vn971 commented on #97
closing as the biggest issue (truncated package names) is now fixed. Would still be nice to have the "column" approach in future though...

[2019-12-23 19:41] vn971 commented on #82
Closed with https://github.com/vn971/rua/pull/94

[2019-12-23 19:41] #82 closed

[2020-01-31 15:45] dhouck opened #100 "Build in *clean* chroot"
It looks like `rua` uses systemd to hide or mark read-only much of the system. This is good, but it could and should be better: any packages which are installed on the system are still installed, which could have sometimes unpredictable effects on how a package is built.

Ideally, the package would be built in a [clean chroot environment](https://wiki.archlinux.org/index.php/DeveloperWiki:Building

[2020-01-31 16:17] vn971 commented on #100
Hi @dhouck. This is a known alternative, although still good that you raised an issue for that.

The current technology that `rua` uses for isolation is bubblewrap https://github.com/projectatomic/bubblewrap. It has the advantage that it's extremely easy to setup, super-fast, and it can give you easy seccomp and network isolation. The downside is that, indeed, packages might be affected by other l

[2020-02-01 05:59] dhouck commented on #100
In theory I’d be willing to work on it, but I have no Rust experience and not much with security isolation, so in practice probably I wouldn't actually get very far.

[2020-02-02 20:12] vn971 commented on #100
@dhouck I think this is a feature that is desired by many people, so if you'd be willing to work on it, many would appreciate I think! Security isolation is not a problem as it should be fully covered by the "clean chroot" tooling. Implementing it requires CLI changes and actual correct wrapping around the "clean chroot" tool. Maybe a bit of a dance with carefully picking the right directories, bu

[2020-02-02 20:15] vn971 commented on #100
I've added the "help wanted" badge to the issue. Sorry for the late reply BTW, was at FOSDEM.

[2020-02-14 15:19] alianse777 opened #101 "Add option to select *-bin packages (and deps)"
When installing packages which require heavy compilation, it will be useful to have an option to select binary distribution of package (*-bin), if one is available in AUR.

[2020-02-14 20:59] vn971 commented on #101
Can you achieve the same by searching `rua search brave bin` or `rua search -- brave -bin`?

Keep in mind that dependencies aren't generally resolved in AUR I think, you always have to use non-guaranteed non-strict "text" search if you suspect there are alternatives. So for dependencies as well, it's a question of how you search for alternatives, is it?

[2020-02-15 22:04] marcusatiliusregulus opened #102 "install instructions incorrect (lz)"
Line 43 in the README.md fails since there is no `lz` package.
Looking at https://aur.archlinux.org/packages/rua/ it seems to be a typo, intended to mean `xz`.

[2020-02-16 14:39] CPerezz commented on #73
Shoudn't this be closed since #88 was merged?

[2020-02-16 16:39] vn971 commented on #73
@CPerezz thanks! I think you're right indeed. I'll answer the other comments on other PR-s a bit later.

[2020-02-16 16:39] #73 closed

[2020-02-17 09:37] #102 closed

[2020-02-22 08:31] KSXGitHub opened #105 "Binary release?"
Instaling [rua](https://aur.archlinux.org/packages/rua/) from AUR requires compiling, which costs time, CPU, and memory. It would be cool if you release pre-built binary to GitHub Release. I can create `.travis-ci.yml` for you if you are lazy.

[2020-02-23 05:31] vn971 commented on #105
Hi! Thanks for raising the issue, I think it's something that indeed should be done.

I'm on a vacation at the moment, I'll get back to it a bit later.

[2020-02-23 05:32] vn971 commented on #101
Closing due to inactivity. Feel free to re-open if you have questions/considerations.

[2020-02-23 05:32] #101 closed

[2020-02-23 13:27] vn971 commented on #105
@KSXGitHub I notice that some packages somehow use github itself to host the built artifacts. E.g. here:
https://github.com/Jguer/yay/releases
https://github.com/Superjo149/auryo/releases
https://github.com/scalameta/scalafmt/releases/tag/v2.4.2

Do you know how it's done? Is it travis underneath, or what is?

[2020-02-23 13:30] KSXGitHub commented on #105
They probably:
* use Travis to upload build artifacts to GitHub Release
* or upload to GitHub themselves from their own machine

I am quite surprised that you didn't know GitHub Release host build artifacts.

[2020-02-23 13:32] KSXGitHub commented on #105
I find using Travis for deployment more reliable. You can read more about it here: https://docs.travis-ci.com/user/deployment/releases/

[2020-03-02 21:53] OliverUv opened #106 "Emulate or allow passing `--assume-installed` to pacman"
I've installed rustup, cargo, etc through "the rust way" with rustup.

Now I want to install wasm-pack with rua. I can download the MAKEPKG of AUR's wasm-pack and remove cargo from the dependency list, but I would prefer to handle all my aur installs through rua.

I'd like to be able to do something like `rua install --assume-installed rust=1:1.41.0-1 wasm-pack`, or be able to add rust/cargo to so

[2020-03-03 10:55] vn971 commented on #106
Hi Oliver, thanks for raising! Would you be willing to work on that feature?

This section does not silently omit a dependency in pacman either I think, so you'll have to explicitly ignore the dep if you want to install a package.

Also note that rua is unaware of versions at the moment, so it'll ignore the whole package, not just a specific version of it. https://github.com/vn971/rua#limitations

[2020-03-03 12:03] OliverUv commented on #106
I'm currently busy but will check out the rua code base next week and get
back to you.

On Tue, 3 Mar 2020, 18:55 Vasili Novikov, <notifications@github.com> wrote:

[2020-03-13 18:13] vn971 commented on #95
I've documented X11 access restriction [here](https://github.com/vn971/rua/blob/master/docs/x11access.md).

[2020-03-17 08:29] GoldsteinE opened #107 "One-time ignoring package while upgrading"
Subj. It would be cool if `rua upgrade` has option to select which packages to ignore in this run.

[2020-03-17 08:34] vn971 commented on #107
@GoldsteinE sounds like a nice feature. Would you be willing to try and write a PR?

[2020-03-17 09:24] vn971 commented on #107
BTW, note that you can also permanently exclude packages form upgrading by using `IgnorePkg` section of `/etc/pacman.conf` (same as with non-AUR packages and pacman).

[2020-03-20 15:30] gnzlbg opened #108 "Message on successful build could be more helpful"
Hi @vn971 , I really love rua, it is the best tool I've used so far for managing the AUR packages.

Sometimes, the `rua install` fails (e.g. because of `chown`, see other issues), and I end up building the packages using `rua builddir` instead. After doing that, `rua` prints:

It would be nice if it could directly print the pacman command to do that, so that I just needs to copy paste it into the

[2020-03-20 18:42] vn971 commented on #77
Closing in favor of the more descriptive GH-108

[2020-03-20 18:42] #77 closed

[2020-03-20 18:45] vn971 commented on #108
Hi @gnzlbg, thanks for the feedback, really glad to have it!

Totally agree with the issue. Would you want to implement it? If not, I might take over and implement it, but if you'd like to give it a try yourself, you're most welcome.

[2020-03-27 18:00] VukoDrakkeinen commented on #92
I just tested this on `v0.17.4` and `rua` does exit with `Error: another RUA instance already running.`,
so I guess this can be considered fixed already.

[2020-03-27 18:55] VukoDrakkeinen commented on #92
Uh oh, this will also stop subcommands like `info` and `search`. Those should be allowed, arguably.

[2020-03-27 18:56] vn971 opened #112 "running "passive" commands like `rua search` fail for root"
Same error happens if you e.g. define an incompatible PKGEXT environment variable, even though `rua search` never needs to do anything PKGEXT or makepkg-related.

The current error log is:
[code]

This is a regression from the new feature https://github.com/vn971/rua/pull/110 (released as part of `v0.17.4` yesterday).

[2020-03-27 19:10] vn971 commented on #92
Yeah... Quite unfortunately though.

[2020-03-27 21:13] vn971 opened #114 ""multiple parallel instances" check is not properly implemented"
Right now, we first create directories like `~/.config/rua/.system` with files inside them, and only then try to acquire a unique lock on `~/.config/rua`. Instead, it makes much more sense to get the unique lock as early as possible, to avoid concurrent access problems.

Marking as "bug" because it's a very smelly code.

[2020-03-28 22:12] #112 closed

[2020-03-31 08:05] vn971 opened #117 "notify user (X11) on missing upgrades"
Idea: create a framework to notify user on possible upgrades. E.g. a graphical notification on login.

Implementation proposal:
* when a user upgrades AUR via `rua upgrade`, propose to install the notification. Possible choices would be "Yes, No, Never".
* for a "Yes" answer, an XDG entry will be created in autostart (~/.config/autostart by default). This will be launch-able on each login, and wil

[2020-04-05 19:42] #114 closed

[2020-04-06 19:20] #108 closed

[2020-04-15 08:14] vn971 opened #118 "consider tty availability to decide switching to /dev/stdin for shellcheck"
Currently, if you invoke `rua shellcheck` (without the last argument), rua will take `/dev/stdin` as its argument. That might generally be a good idea if you want to use the tool like `cat file | rua shellcheck` (also known as `rua shellcheck < file`). But if you didn't pipe any file in, `rua shellcheck` will be stuck waiting for user-s input, same as a bare `cat` will do.

The proposal is to make

[2020-04-16 10:48] vn971 commented on #92
This got fixed as part of https://github.com/vn971/rua/commit/a56b8863a7ae8c48fd90d477a8c9bb209373ea7b

Because we now take the "uniqueness" lock as early as possible, we also do it before environment checks, which gives an error reason of:
[code]
Hopefully understandable enough for situation of running rua inside rua.

[2020-04-16 10:48] #92 closed

[2020-04-16 12:15] doums opened #119 "panicked at 'Failed to canonicalize build dir"
Hi!

I just installed rua via cargo.
My Rust setup is managed by `rustup`, installed via the official script: https://sh.rustup.rs (not via the pacman package).

And for the first time I try to install an AUR package with rua ([gotop-bin](https://aur.archlinux.org/packages/gotop-bin/)), it panics:
[code]

[2020-04-16 15:24] vn971 commented on #119
That's strange. Guessing by the output, this is not the first time rua is being run. It says `[D]=(identical to upstream, empty diff)`, which it prints when upstream is already reviewed, and changes merged in.

Still, it's strange. Does this problem happen for all packages? Or are some successful but some not?

[2020-04-16 15:36] vn971 commented on #119
OK wait, it's a regression from the latest release. Gotta fix ASAP.

[2020-04-16 15:41] vn971 commented on #119
Related: https://github.com/vn971/rua/pull/116
(Pasting not to blame, but to give context.)

[2020-04-16 15:54] doums commented on #119
Yes, you are right, I pasted the output of another attempt of `rua install gotop-bin`.
But the first time, the output ended the same.

[2020-04-16 16:00] vn971 commented on #119
Yes. I've already made the fix, now releasing. Thanks a lot for raising the issue!

[2020-04-16 16:02] doums commented on #119
Ok cool! Thank you for this tool :)

[2020-04-16 16:15] vn971 commented on #119
Fixed in https://github.com/vn971/rua/commit/338ce2df479222864fdae02da651326555dd3359

[2020-04-16 16:15] #119 closed

[2020-04-16 16:17] vn971 commented on #119
// I also touched other directories, even though it was not really necessary. Still, I felt it's a better contract to have all directories already exist in a RuaPaths struct.

[2020-04-16 21:44] doums commented on #119
Hi,

I'm afraid that you have not resolved the bug:
[code]

[2020-04-17 07:08] vn971 commented on #119
Terribly sorry, I got confused with directory creation. What's worse, I had the code working in the middle of the rewrite, so the code worked at some point and local test was successful even though the final release was not.

Made the fix to canonicalization. Tested. Just released.

[2020-04-17 07:15] vn971 commented on #119
What basically happens, is that `rua` wants to copy the cloned package to `~/.cache` for building. Due to the behavior of makepkg we want to use absolute paths: https://github.com/vn971/rua/pull/115#issuecomment-605525029  But we cannot canonicalize a directory before we create it. So the tool errors out just because the directory is not created yet.

[2020-04-17 13:38] doums commented on #119
Ok, I confirm, this is fixed. Thank for the explanations.

[2020-04-23 17:12] Icy-Thought opened #120 "Pacman commands."
First of all, I would like to express my appreciation of this marvelous package built by fellow Rustacean's! One thing I also like to express is my thought-process regarding the stated limitations of Rua as an AUR manager.

How come the implementation of pacmand commands was disregarded when such implementation could prove to be very beneficial for the users of Rua? I would suggest the implementat

[2020-04-23 17:22] Icy-Thought opened #121 "Simple tab-completation."
Another feature I would like to kindly request from the developers of this package is the implementation of a somewhat limited tab-completion feature until a more advanced tab-completion feature could be implemented. This could be performed with the help of the search queries returned by performing `rua search X`, which could prove beneficial through the reduction of the amount of keystrokes requi

[2020-04-27 06:28] vn971 commented on #120
Thanks for the feedback, really appreciate that!

On pacman command specifically. This is basically a difference between a purely AUR client, and a client that supports both pacman and AUR tasks. I'm somewhat reluctant to go the "pacman" path, because I'm afraid of feature creep. There's a lot of subtle things I'll have to take into account, and only to cover the situation of issuing a pure `pacma

[2020-04-27 06:43] vn971 commented on #121
Oh, I'd like that feature myself a lot as well. There's a problem, however, in that the completions are generated automatically from the https://github.com/vn971/rua/blob/master/src/cli_args.rs file, via the `structopt` and `clap` libraries. There is an issue to implement smarter completions: https://github.com/clap-rs/clap/issues/568 I've voted on the issue and subscribed to it. If it'll get fixe

[2020-04-27 15:35] Icy-Thought commented on #121
It pleases me that you appreciated my idea! I made sure to up-vote the `smarter completions` feature implementation, hopefully we will see a feature implementation in the near future. Until then, stay safe! :smile_cat:

[2020-05-01 21:33] #107 closed

[2020-05-01 21:57] mqus commented on #107
It's now (in the next release) possible to ignore e.g. packages `a` and `b` by using
[code]
or
[code]
.

[2020-05-02 07:20] olantwin opened #123 "`--ignore` is a required argument to `upgrade`"
With the most recent release, `rua upgrade` fails:
[code]

It seems like `--ignore` was accidentally added as a required argument rather than as an optional argument in #122 .

I'll have a look whether I can fix this, but I'm unfortunately not particularly familiar with rust and the way the arguments are parsed.

[2020-05-02 08:11] vn971 commented on #123
Thanks for the bug report, I understood what's happening, will fix now.

[2020-05-02 08:17] vn971 commented on #123
Fixed that, making a release now. Thanks again for the bug report!

[2020-05-02 08:21] #123 closed

[2020-05-02 08:27] olantwin commented on #123
Thanks for the quick fix!

Also learnt a thing or two while trying to fix it myself (and comparing my solution to your better one ;) )

[2020-05-02 08:33] vn971 commented on #123
I think both solutions are good actually - just ended up committing mine because I already had a release in progress (and I like flat_map-s:). Cheers.

[2020-05-06 04:21] qoh opened #125 "Review prompt is very verbose"
It takes a some scanning to actually parse the prompt of available options as you're reviewing a package for merge or build, due to how long and wordy it can get:

[code]

Some comments, all opinionated - I would prefer these changes, but it could also be behind an option:
* `since your last review` probably isn't necessary, it could just be `view upstream changes`;
* pick one of the words in `acc

[2020-05-06 04:38] qoh commented on #117
To me this sounds like the job for another program.

If anything, `rua upgrade` could have an option to offer the `--printonly` information in a more programmatically accessible format (tabs and newline separation?), which such an additional notification tool could consume.

[2020-05-06 06:17] vn971 commented on #117
Yeah, it could be another program as well. But you can have such a program independently already, there are no restrictions for that. I just want any simple solution that would bring actual X11 notifications for the user -- whatever that'll be, presuming it's secure, maintainable and not privacy-invasive.

But that is already the case, isn't it?:
[code]
Packages separated by newline. Consumable by

[2020-05-07 21:30] qoh commented on #89
With the package `v4l2loopback-dkms` I get a different but somewhat similar error:
[code]
It indeed also builds with `FAKEROOTDONTTRYCHOWN=true`.

[2020-05-17 18:32] diegoflorez opened #126 "seccomp-armv7l.bpf: No such file or directory"
I'm trying to use rua on raspberry-pi 4, but I keep getting this error when I try to install any aur package using `rua install package-name` command.
```/home/user/.config/rua/.system/wrap.sh: line 11: /home/user/.config/rua/.system/seccomp-armv7l.bpf: No such file or directory```
Although if I go to `~/.config/rua/pkg/package-name/` and run `makepkg -si` the package is correctly installed as ind

[2020-05-17 19:36] vn971 commented on #126
@diegoflorez hi, thanks for raising the issue! So this day has come, rua was tried to be run on an `arm` device.:) The problem observed is because currently, seccomp bpf filters were generated once for i686 and x86_64 architectures. I've mentioned that some time ago here: https://github.com/vn971/rua/issues/91#issuecomment-559064460

Now, however, it would be nice to auto-generate the seccomp pbf

[2020-05-17 22:49] diegoflorez commented on #126
Great job with rua, by the way. And Thanks! :wink:

[2020-05-29 14:00] VitalyAnkh opened #127 "Bug: rua can't detect a library `hunspell-en_US`"
When I let `rua` install a package, it said:
![image](https://user-images.githubusercontent.com/24508452/83267724-3831c000-a1f7-11ea-81fa-aadc0b8c79c7.png)
But `hunspell-en_US` has been already installed. Is the difference between `hunspell-en_US` and `hunspell-en_us` that caused this problem?
![image](https://user-images.githubusercontent.com/24508452/83268081-b1311780-a1f7-11ea-96c2-eab858b3e6aa

[2020-05-29 14:07] vn971 commented on #127
Indeed it seems so.. Lemme look around in AUR and this package.

[2020-05-29 14:27] #127 closed

[2020-05-29 14:32] vn971 commented on #127
Thanks for reporting the issue! It's a bug apparently, a mishandling of alphanumeric package names (I assumed they are lowercase, but the `man PKGBUILD` says "alphanumeric"). I've made a fix, releasing a new version now.

[2020-05-29 15:31] vn971 commented on #127
Thanks! :muscle:

[2020-06-01 05:18] VitalyAnkh opened #128 "Question: why not allow more than one instance of rua running?"
![image](https://user-images.githubusercontent.com/24508452/83378078-30963500-a40a-11ea-8635-d3f1b58adf28.png)
Sometimes I use rua to install two packages at the same time, so the feature is annoying.

[2020-06-01 06:57] vn971 commented on #128
Hi. Unfortunately, this issue can't go through. The problem is that the "single instance only" model is really used to ensure no weird breakages in RUA. Without it, any step can break weirdly. E.g. you just prepared to build a directory, and then all contents are gone because another process wiped it. Or you copy the wrong things to the wrong place. Or have two different clients of different versi

[2020-06-01 06:57] #128 closed

[2020-06-02 03:53] VitalyAnkh commented on #128
Thanks!

[2020-06-03 09:27] CobaltSpace opened #129 "Request: Check pkgver() fuction results with --devel"
VCS packages contain the pkgver() function which gets the updated pkgver.

`rua upgrade --devel` should use the results of `pkgver()` to check if a rebuild is necessary.

[2020-06-03 09:31] vn971 commented on #129
@CobaltSpace Hi, that sounds like a nice feature. To automate it, the client could also generate an SRCINFO (as opposed to calling bash function from not bash). If that changes, it's a sign that we need to re-build.

Would you be willing to work on that feature?

[2020-06-15 20:42] zegelin commented on #126
Running into this issue too while trying to use RUA on a Raspberry Pi 4.

I ran `seccomp-gen` and copied the resulting file to `.config/rua/.system/seccomp-armv7l.bpf`, but it appears that the entire `.system` directory gets nuked on every run.

Is there any way to use this BPF file?

[2020-06-15 21:26] vn971 commented on #126
@zegelin yeah, I believe you also wrote a comment on AUR yesterday evening, right?

Anyway, I agree with everything that you wrote basically. Do you have time/energy to write a PR? I see two choices:

1) create the seccomp file in AUR, for not out-of-the-box architectures. And don't nuke (as you said:) the system directory. Theoretically it leaves some possibility to get few "garbage" files there,

[2020-06-16 02:44] zegelin commented on #126
Nah, not me. I discovered this project today.

I'm not very familiar with Rust. But I might have a crack at it. I think the first approach is easier to implement, at least compared to trying to integrate `seccomp-gen`/libseccomp into the build process.

Have you considered keeping these files external to the binary and installing them with a package?
i.e, is there any reason/benefit for embedding

[2020-06-18 02:03] nilehmann opened #130 "Rua fails to build rust package"
I'm trying to install [starship](https://aur.archlinux.org/packages/starship/) and I get the following error.

[code]
I'm using rustup to manage my rust toolchains and the package builds without any problems if I run `makepkg` manually.

[2020-06-20 00:34] nilehmann commented on #130
I did a better reading of the README and realized this is due to the safe safe environment and one just needs to add a new mount point with the rust up folder. Sorry for the noise.

[2020-06-20 00:34] #130 closed

[2020-06-20 12:31] vn971 commented on #130
@nilehmann hi, yeah, you need to specify the toolchain for Rust OR at least once download any Rust toolchain. (Was busy, didn't have time to answer before).

[2020-06-21 17:41] Amanita-muscaria opened #131 "Can I allow access to things outside the jail?"
I recently installed linux-clear using my own module configuration. After trying for a while to figure out why the build wasn't able to find the requisite file despite it being in the correct location, I realized it was due to the build being in jail and the file being out of the jail. Is there a way to tell rua that it's cool to allow access to that file?

[2020-06-21 19:25] vn971 commented on #131
Hi @Amanita-muscaria , this is what "wrap_args" are for. It's the arguments passed directly to `bubblewrap`, the security jail that does filesystem isolation (among other). See example in `~/.config/rua/.system/wrap_args.sh.example`

Feel free to ask if you have any questions.

[2020-06-21 19:25] #131 closed

[2020-06-21 21:16] Amanita-muscaria commented on #131
Oh, perfect. Thank you!

[2020-06-26 14:20] refaelsh commented on #130
I have the same issue exactly.
@nilehmann What do you mean a mount folder with `rustup`? Can you please help me?

[2020-06-26 14:21] refaelsh commented on #130
@nilehmann I specified toolchain and at least once downloaded Rust toolchain.
The problem still occurs.

[2020-06-26 16:10] nilehmann commented on #130
@refaelsh take a look at this section https://github.com/vn971/rua#safety. Rua runs in an isolated environment and by default, it doesn't have access to the entire filesystem. Rustup stores your toolchains in your home directory so you need to give explicit access to it. You can do that by adding a file in `~/.config/rua/wrap_args.d/`. Mine looks like this:

[code]

[2020-07-05 06:59] vn971 commented on #126
One advantage I had in mind is that I can tell people to `cargo install --force rua` and the tool will then "work". (It won't have shell completions, but otherwise everything would be fine.)

While there's a good point to just not wiping this `.system` directory each time, I think it'd be also nice to get `armv7l` and other architectures covered in the same MR. "Fix the issue for everyone, not jus

[2020-07-10 23:38] thezealousfool commented on #125
As an extension to the above proposal, I would also like to propose to add default action at each step, similar to say `apt-get`'s accept change `[Y/n]`, `Y` is the default action (if you do not type anything and press enter that option is chosen).

For eg., `accept changes` as the default action for the first step and `ok` as the default for the next step like

[code]

[code]

[2020-07-14 04:53] thezealousfool commented on #105
@vn971  This might be helpful https://github.com/japaric/trust

[2020-07-20 18:44] refaelsh opened #132 "Non-fast-forward commit does not make sense into an empty head"
This is what I typed into my terminal:

    rua install gitui

This is what I got:

    Reviewing "/home/refaelsh/.config/rua/pkg/gitui".
    [D]=view upstream changes since your last review, [M]=accept/merge upstream changes, [S]=(shellcheck not available until you merge), [T]=run shell to edit/inspect, [O]=(cannot use the package until you merge) m
    fatal: Non-fast-forward commit does not mak

[2020-07-21 18:48] vn971 commented on #132
Hi, thanks for the late reply. I've just tested `rua install gitui`, the "merge" action works for me.. Did you do any changes locally? Can you try deleting `~/.config/rua/pkg/gitui` and see if the problem will persist?

[2020-07-22 17:46] refaelsh commented on #132
No, I did not (this is the first time ever that I am installing gitui).

This did not help.

[2020-07-24 16:22] Amanita-muscaria opened #133 "no override and no default toolchain set"
I was attempting to update spotify-tui but this error popped up:
[code]

I've set the default toolchain to stable via rustup (`rustup default stable`) but the error persists. I'm assuming I need to give rua access to something?

[2020-07-24 16:46] vn971 commented on #133
Hi @Amanita-muscaria , this is because rua isolates your home directory where otherwise rustup cache (and default toolchain) would be stored: https://github.com/vn971/rua#safety

You can compromise isolation a bit and bind `~/.cargo` for it to be read-writeable (or just readable) by configuring "wrap_args", see example here: `https://github.com/vn971/rua/blob/master/res/wrap_args.sh.example`  (or

[2020-07-24 16:49] vn971 commented on #133
If you want to build fully isolated without assuming anything from HOME directory (e.g. existence of the toolchain), you can modify PKGBUILD to use code like that:

[code]

This is actually the preferred way to write AUR packages, because there are potentially many users who are not yet very familiar with rust, installed rustup and don't have anything in their HOME yet.

[2020-07-24 17:28] vn971 commented on #133
Does that explain it / make any sense?

[2020-07-24 17:31] Amanita-muscaria commented on #133
Ya, that makes sense. Thanks!

[2020-07-24 17:31] #133 closed

[2020-09-11 17:18] vn971 opened #135 "Create "new files" package analysis option that lists files not yet existing in the filesystem"
See subject.

[2020-09-24 21:45] mqus commented on #89
Same for me with zfs-dkms. rua gives the output below while makepkg works without any issues.
[code]

[2020-09-29 09:33] vn971 commented on #89
Sorry for the slow reply. It seems there's a number of packages affected, especially considering that not everyone even raises a bug report or writes a comment if something off happens (thanks everyone who does!)

With that in mind, I think it's proper to apply the `FAKEROOTDONTTRYCHOWN=true` fix after all.

Made the change now, released in the latest version (0.17.13) :arrow_up:

[2020-09-29 09:33] #89 closed

[2020-10-01 11:16] yellowsquid opened #136 "Failed to sign package"
I have `makepkg` configured to sign packages. I expected `rua` to be able to sign packages it builds.

Command used:
[code]

Output:

[code]
This happens when the signing key both does and does not have a passphrase.

[2020-10-01 11:28] vn971 commented on #136
@yellowsquid strange that there are no more logs available. Do you know where the signing key is located at? It is possible (and quite probable) that `rua` doesn't have access to this part of the filesystem: https://github.com/vn971/rua#safety

I wonder how to easily make `makepkg` more verbose to explain the reason of the failure.. It doesn't seem to have a `--verbose` flag that one could pass. A

[2020-10-01 11:35] yellowsquid commented on #136
Signing key is in `~/.gnupg/pubring.kbx`.

GPG has a `--verbose` option. I'll try and add it and report my findings.

[2020-10-01 11:42] vn971 commented on #136
@yellowsquid maybe some other files in `~/.gnupg` are needed for makepkg signing as well. You can try adding `wrap_args+=(--bind-try ~/.gnupg ~/.gnupg)` to `~/.config/rua/wrap_args.d`  , which will effectively give makepkg full access to `~`. Or even give the insecure access to everything for testing, `wrap_args+=(--bind ~ ~)`  , and then shrink it to only the required minimum

[2020-10-01 12:25] yellowsquid commented on #136
I've got a little more output now.

[code]

It definitely seems that some directories are missing for package signing. In fact, just looking at the man-page for `gpg`, you find this option:

[code]

Looks like the problem can be resolved with the following:

[code]

[2020-10-01 13:18] vn971 commented on #136
@yellowsquid it would be nice to solve the problem for other people as well though.

Do you have ideas on how to do that? Alternatives I see so far:

* always allow access to private GPG keys. This sucks security-wise and I won't really use that, mentioning just to see the alternatives
* split the full build into non-signing part that executes arbitrary build-time code of PKGBUILD, and the signing

[2020-10-01 13:49] yellowsquid commented on #136
Personally I think that read-only access is sufficient, behind a command-line flag.

I doubt this will be a common issue if I am the first person to report it. In that case, the majority of people will benefit by never exposing the private keys.

For people who do want to sign packages, the private keys should definitely be read-only. When creating keys, GPG gives plenty of warnings if they're not

[2020-10-01 18:01] vn971 commented on #136
@yellowsquid not related to this issue but just a small personal comment: if you want to make those keys read-only, bind them with `--ro-bind` or `--ro-bind-try`

[2020-10-18 12:24] vn971 opened #139 "Automatically remove build-related garbage at the end of a successful build"
E.g. subdirectories of ~/.cache/rua related to each successfully built package

[2020-11-07 20:58] refaelsh commented on #132
The same thing happens with the `protonmail-bridge` now.

[2020-11-08 09:40] vn971 commented on #132
@refaelsh hey, it's interesting that for you the problem seems to be reproducible. I start to think that it's maybe a local git configuration that causes it. Since RUA aims at doing those commands silently by itself (when it can), one work-around would be to tell `git` to ignore local configuration files. I'll look how that can be done

[2020-11-08 09:50] vn971 commented on #132
@refaelsh could you share your git config (or maybe parts thereof that look like having to do with pulling / merging) ? That could help with reproducibility. You can get it by running `git config --list`

[2020-11-08 10:16] vn971 commented on #132
I've created an MR to fix it: https://github.com/vn971/rua/pull/141/files

Waiting for info from you to test it out

[2020-11-08 15:09] refaelsh commented on #132
Here is the contents of my .`gitconfig` file:
[code]

[2020-11-09 13:16] vn971 commented on #132
[code]
That's the one! If I add it to my local git config, I get the same behavior (erroring out). If I remove it, `rua` works as intended. I have to figure out how to fix the problem now.

[2020-11-09 13:48] #132 closed

[2020-11-09 14:00] vn971 commented on #132
Finished & tested, should work! I'll create a release soon

[2020-11-09 14:55] refaelsh commented on #132
Big Kudos!

[2020-11-10 21:08] refaelsh commented on #132
I can confirm that it works. Again, thank you.

[2020-11-19 16:01] nic-hartley opened #142 "`rua install` doesn't install"
TL;DR: Why is it called `install` if it doesn't install anything, ever, even to satisfy dependencies for other packages?

Quotes like these, and the command being _called `install`_, make me assume that `rua install [whatever]` will install it.

But phrases like these make me not so sure:

And, of course, actually running the command, it doesn't install jack:

[code]

I'm sure this is reproducible

[2020-11-19 16:04] vn971 commented on #142
Hi, `rua install` definitely should and does install things. It also does go over dependencies. Can you paste the full "elited output"?

[2020-11-19 16:15] vn971 commented on #142
I'll reply on the rest later, now on phone.

On November 19, 2020 4:01:17 PM UTC, Nic Hartley <notifications@github.com> wrote:

--
Sent from my mobile device. Please excuse my brevity.

[2020-11-19 16:18] nic-hartley commented on #142
Not really. I had to omit it because it's more output than my terminal can display, and Firefox crashed when I tried to paste it in. But the output for `rua` cuts out at the `==> Finished making:` line, without the `==> Installing package` section that `makepkg -si` has.

[2020-11-19 21:10] vn971 commented on #142
I think I need to know at least part of the log in order to understand why you're experiencing the issue. Can you paste the first lines before the package-specific build log starts? For example, first and last 10 lines of `rua install pcre-static`

[2020-11-19 21:25] nic-hartley commented on #142
[code]
...
[code]

[2020-11-19 21:49] vn971 commented on #142
Interesting, for me it ends up like this:
[code]

Can you please share directory contents of `ls -aFl ~/.cache/rua/build/pcre-static` ?
It seems that a package was built, but RUA doesn't see it. It is possibly due to unusual/unhandled package extension.

[2020-11-19 23:57] nic-hartley commented on #142
Sure thing.

[code]

Looks like it's the same filename.
--Nic

On Thu, Nov 19, 2020 at 4:49 PM Vasili Novikov <notifications@github.com>
wrote:

[2020-11-20 18:58] vn971 commented on #142
Interesting, that file should definitely have been picked up. I've mangled with upgrading the libraries today and include/update the logging code. Meanwhile, which version of rua are you using? Can you run `rua --version` ? Not seeing the `.zst` archives could theoretically be something related to really old versions of RUA, or some other reason that I'll look into then.

[2020-11-20 19:05] nic-hartley commented on #142
[code]

I installed it through the AUR, not `cargo install`. I would _hope_ that's not an incredibly old version but I can try `cargo install`ing it too, to check.

[2020-11-20 19:07] vn971 commented on #142
@nic-hartley that's all good, the only one newer is 0.17.16 that I just released few hours ago. I'll think a bit more about the issue.

[2020-11-21 18:09] refaelsh opened #143 "fatal: unable to auto-detect email address (got 'refaelsh@arch.(none)')"
Here is what I get when trying to upgrade a package:
[code]

Here is the output of `git config --list`:
[code]

Please advise.

[2020-11-21 18:21] vn971 commented on #143
@refaelsh hey, thanks for the report! Looking into it

[2020-11-21 18:26] vn971 commented on #143
I think I know the reason. I'll think how to fix it now.

Just in case you're curious, the background is this. To have reproducible behavior in `rua`, I've made it run `git` in a way that it ignores local configuration. This makes sense if rua itself wants to specify the exact behaviour/workflow that it needs. The problem starts, however, with non-fast-forward merges. You probably have local modif

[2020-11-21 18:43] #143 closed

[2020-11-21 19:38] vn971 commented on #143
Fixed.
Any commit initiated by RUA will now have a default name/email (also signalling that it was an automated action, not something that you really wrote).

To fix it locally for you, please jump to console before merge (`[T]=run shell to edit/inspect`), do a merge manually `git merge upstream/master`, log out of the console with `logout` and proceed normally. Sorry for the inconvenience...

[2020-11-21 19:50] refaelsh commented on #143
That solved the issue. Thank you very much.

[2020-11-26 18:44] refaelsh opened #145 "Feature suggestion: clear cache"
Here is a scenario that happened to me. I was doing a `rua install foo-bar-package` (1 GB download) and the WiFi got disconnected in the middle of the download. This happened several times. I now have multiple fragments downloaded that are eating disk space. I suggest a `rua clean cache` command to get rid of them.

Thanks.

[2020-11-26 18:49] vn971 commented on #145
@refaelsh hey! In the particular situation that you describe, duplication wouldn't (shouldn't) happen, because only the last build can ever leave garbage.

On the other hand, I imagine it could be nice to have the garbage cleared even for 1 build. I'd imagine two things could help:
* Have a command like `rua clean` (or `rua clean-cache`) to clean the build cache
* Automatically removing build garb

[2020-11-26 19:13] refaelsh commented on #145
Sounds great!

[2020-11-30 08:53] vn971 commented on #145
I've added the tags to invite collaboration. (Personally busy with another task ATM, building the seccomp rules on non-x86_64 architectures.)

[2020-11-30 21:52] nic-hartley commented on #142
So for unrelated reasons, I had to reinstall my OS (TL;DR: I meant to just dual-boot Ubuntu, and I nuked my system in the process, oopsies). And now... rua works? Same distro, Manjaro, both times. Absolutely no idea what happened. Hooray? I'll leave the issue open in case you want to keep looking but the issue is inexplicably no longer affecting me, so

[2020-12-01 17:56] refaelsh commented on #145
Theoretically, if somebody would open a PR on this, what the command should do? Delete something, right? But what? This folder maybe: `~/.cache/rua/build/foo-bar-package/` or maybe `~/.cache/rua/build/`?

[2020-12-02 17:30] vn971 commented on #145
To give an intermediate update, I'm super-busy with work ATM, but I'll really try to get back to it soon!

[2021-01-01 21:37] vn971 commented on #145
Hey, sorry, that was a very slow "soon". I made it within 1 month though! :sweat_smile:  (was really busy with personal things and work)

I think `~/.cache/rua/build/foo-bar-package/` can be deleted at the end of a successful build and `~/.cache/rua/build/` can be deleted by `rua clean-cache`

That should be really straightforward, and an improvement upon the current situation. I think it's a real

[2021-01-02 18:01] refaelsh commented on #145
Thank you for the reply. I will try and see wether my Rust skill are not rusted. If they are not, I will open a PR.

[2021-01-02 18:04] refaelsh commented on #145
One more question please. If `~/.cache/rua/build/` gets deleted, would it not break `rua upgrade`?

[2021-01-02 18:09] vn971 commented on #145
@refaelsh shouldn't, `build` is only used during build, but not after. Git history of AUR itself is kept in `~/.config/rua/pkg/`, then copied inside `~/.cache/rua`, and the built artifacts are in `~/.local/share/rua`. This was done intentionally so that a user can delete the XDG cache and not lose anything important.

See the directories section: https://github.com/vn971/rua#how-it-works--director

[2021-01-02 18:35] vn971 commented on #142
Not sure what's going on, but we can't re-test the behavior anyway anymore, so I'll close until/unless anybody else will report the same behavior.

[2021-01-02 18:35] #142 closed

[2021-01-06 10:35] refaelsh commented on #145
I will be submitting a PR for this shortly.

[2021-01-08 08:39] gnzlbg opened #147 "Add an option to merge and accept all changes"
It would be nice to have an option to merge and accept all changes. I have very few packages from the AUR installed, and i personally vet the maintainers and only use packages from maintainers that I trust.

Having to `M` and `O` these packages every time is annoying in this case. While I understand the intent, I never actually inspect the diffs, and only sometimes run shellcheck.

I know this mig

[2021-01-08 08:41] gnzlbg opened #148 "Add an option to continue installing packages when one fails to install"
Some times a package fails to install, e.g., because something changed upstream and the package has not been updated in the AUR yet. This completely halts down the installation process of other packages.

It would be nice to have an option to proceed to install other packages when one fails to install. It is very annoying to have to ignore that package, and re-start the whole process of upgrading

[2021-01-10 13:22] vn971 commented on #148
I think that's a good suggestion :+1:

[2021-01-10 16:45] vn971 commented on #147
@gnzlbg Hi! I think that should be possible. You can introduce a flag like `--trust`, e.g.
[code]
and make the environment variable `RUA_TRUST` also assign to the same parameter.

To make this work, you'll have to introduce the new parameter in `cli_args.rs`, and when a trusted package is upgraded, attempt merge (fall back to prompt if it fails) and auto-accept the package if merged succeeded.

Ov

[2021-01-14 15:48] gnzlbg opened #149 "Add a way to list all packages managed by rua"
It would be very helpful to be able to list all packages managed by rua, and list what's the currently installed version, as well as whether there is a newer verson available.

[2021-01-21 20:26] sxul opened #150 "You are building kernel with non-retpoline compiler."
I'm running `rua install linux-xanmod`, is rua not support build a linux kernel?

[code]

[2021-01-21 20:40] vn971 commented on #150
Hey, guessing by the error log, this seems like a problem specific to the package (`You are building kernel with non-retpoline compiler.`, `Please update your compiler.`)

[2021-01-21 20:45] sxul commented on #150
emm, the point of the problem is that I can easily compile this package using yay or pakku or makepkg. only `rua` can't... I have no idea about this, but I can be sure it has nothing to do with the compiler version.

[2021-01-21 21:14] vn971 commented on #150
Understood. Could it be that the build process made a forbidden syscall (restricted via the use of `seccomp` in rua)?
If the kernel you're building with supports seccomp audit, you'd be able to see it with `grep syscall /var/log/audit/audit.log`

[2021-01-21 21:17] vn971 commented on #150
https://wiki.archlinux.org/index.php/Audit_framework

[2021-01-21 22:55] sxul commented on #150
Sorry, I did not find any helpful information, maybe I did not configure the correct audit rules

[2021-01-22 07:29] vn971 commented on #150
Thanks for the reply. It might be sufficient to check whether auditd runs from a systemd point of view, can you check it out? `systemctl status auditd.service`
If it runs, and if there are no messages containing "syscall" after attempting to build a package, then the problem would not be due to syscalls

[2021-01-22 09:27] sxul commented on #150
I try to enable auditd service `systemctl enable --now auditd`, and I did see some output including the ”syscall“ keyword in the log, but I can’t confirm that they are calls from rua. and these log are all `sudo` or `whoami`, I think they may be useless.

[2021-01-28 19:10] refaelsh commented on #133
Is this problem occurs only in Rua or in other AUR helpers?

[2021-01-28 19:26] Morganamilo commented on #133
I don't like this. I use nightly and it forces me to download a stable branch.

[2021-01-30 06:20] vn971 commented on #133
@refaelsh the problem will appear in any AUR helper that does not use the fact that the user *might* have downloaded something to their HOME directory. Such a PKGBUILD will definitely have problems for users who didn't do anything special about their HOME yet and are starting from scratch (let's say, clean re-installation of the OS without any Rust commands run prior)

[2021-01-30 06:23] vn971 commented on #133
@Morganamilo I see your point. I would argue that a PKGBUILD should still say what it needs. E.g. whatever Rust version you need, it should be specified reproducibly in the build description, not relying that the user accidentally did what you wanted.

In the case that you're referring to that's really harder, because `rustup` on Arch does not come with any toolchain at all, by default. I'm open t

[2021-01-30 06:33] vn971 commented on #150
@sxul do seccomp errors show up prior to starting the build? E.g. `tail -Fn1000 /var/log/audit/audit.log | grep syscall`, check if it's empty, then start build, check if things appear there.

I mean, it's not even easy to diagnose the build error reason anyway. Overall, the problem could arise from:
* seccomp being used in RUA, therefore some syscalls not being available
* all devices being unavai

[2021-01-30 07:46] vn971 opened #151 "Fix CI by using a docker for testing"
Currently, CI only checks that the code compiles in Travis CI:
https://github.com/vn971/rua/blob/236bc43a0a8405aa1a84a9b8c7fe84f244a6db18/.travis.yml#L16

The current reason for that is that Travis doesn't have an ArchLinux OS choice, and instead ubuntu is used at the moment. Ubuntu, however, does not have a `pacman` package on it, and `cargo test` fails at run-time.

One solution would be to use

[2021-01-30 07:49] vn971 commented on #151
There is no known actual "bug" here, but I marked the issue as "bug" because it's important. Without proper CI, you could have bugs in the future that go undetected. The "bug" could therefore mean that we're not preventing this mistake from happening proactively.

[2021-01-30 21:07] refaelsh commented on #151
I one would try and do it, theoretically, could one be please pointed to docker thingy creation documentation?

[2021-01-30 21:09] Morganamilo commented on #151
Here's an example: https://github.com/Morganamilo/alpm.rs/blob/master/.github/workflows/alpm.yml

[2021-01-30 21:12] refaelsh commented on #151
This line: `image: archlinux`. This is interesting. I would have thought it should be like this: `image: url/to/docker/image`.

[2021-01-30 22:22] refaelsh commented on #151
Also, why use Travis CI when we have Gitlab CI?

[2021-02-04 07:53] vn971 commented on #151
@refaelsh I guess GitLab CI could be used as well. I think I historically started with github - most of the PR's happen here as well ATM.

@Morganamilo-s repo seem to even use github's built-in CI, which is a third approach.

[2021-02-04 07:55] vn971 commented on #151
WRT `image` in alpm.rs, I think it runs docker inside `ubuntu-latest`, so you specify both the host (one of few OS-es supported), and then what guest docker image to run in the host OS. I could be wrong though, that was just my impression. `"archlinux"` is probably just this: https://hub.docker.com/_/archlinux

[2021-02-04 16:15] refaelsh commented on #151
I am terribly sorry, please disregard this question. This is GitHub and not GitLab. I always get them mixed up in my head.

[2021-02-04 16:17] refaelsh commented on #151
Ok. I still have much to learn about this "Docker" thingy, but it does points me in the right direction. Thank you.

[2021-02-04 16:25] refaelsh commented on #151
I dont understand why? Unit tests use mocks and `cargo test` runs unit test. This should not fail since mocks are fake, they dont need Arch or pacman.

P.S.
I am aware that `cargo test` will also run integration tests from the test folder (if it detects one), but, integration test are always come after unit tests. I suggest we first focus on the unit tests --> this issue can be postponed, and a ne

[2021-02-04 16:33] Morganamilo commented on #151
The issue is the tests need to link to libalpm.so to run.

[2021-02-09 20:39] metiulekm opened #152 "Dependency provided by other package is not resolved correctly"
Imagine you want to install [bitwarden-cli-bin](https://aur.archlinux.org/packages/bitwarden-cli-bin/) and [bitwarden-rofi](https://aur.archlinux.org/packages/bitwarden-rofi/). bitwarden-rofi needs bitwarden-cli, however bitwarden-cli-bin does provide bitwarden-cli, so it should be used instead. However, when one tries to install both at once, rua ignores that and tries to install bitwarden-cli an

[2021-02-10 06:28] vn971 commented on #152
Acknowledging it as a bug, RUA could definitely be smarter here.

For the moment, you know the work-around though, right? Build the dependency that has the required `provides` first, then build the other package

[2021-02-23 23:48] raphCode opened #153 "rua exits immediately (panics?) after building package without installing it"
I tried to install the [gitbucket AUR package](https://aur.archlinux.org/packages/gitbucket/), but after building the package, rua exits without asking me to install it. Rua does not report an error for the build process.

Steps to reproduce:
- `pacman -S jre8-openjdk-headless jdk8-openjdk sbt` (Java 8 is needed for successful build of gitbucket)
- `rua install gitbucket` (currently the package is

[2021-03-11 22:52] Techcable opened #154 "Get "Bad system call" when compiling a Cython module"
[Cython](https://cython.org/) is a DSL for writing native python extension modules.

Running "cython" seems to fail with a "bad system call" message during the `cython` -> C translation. If I run with a manual `makepkg` this problem doesn't exist and everything works fine, so it must have something to do with the process-jail.

Here are some AUR packages that trigger the issue:
1. `python-scikit-i

[2021-03-25 12:24] amcooper opened #155 "`rua upgrade` sometimes responds with non-AUR packages"
`rua upgrade` sometimes tells me about non-AUR packages. Today, for example:
[code]
This is a regular (non-AUR) package that was actually installed as a dependency of another regular package.

[2021-03-25 13:19] vn971 commented on #155
@amcooper this is intended behavior in fact, make the user aware of this no-more-installable package. If you'd design it for yourself, what would be the action you'd like to see? Completely ignore the package? Ask? Error out? List but ignore for actual upgrade?

[2021-03-25 19:23] amcooper commented on #155
Completely ignore. I'm expecting rua to concern itself only with packages from the AUR.

Here's the whole flow:
[code]
And then the same again, if I run it again. If rua wants to make me aware of this package's status, I suppose that's fine. If rua _can't_ upgrade this package, it shouldn't offer me that option.

[2021-03-25 19:31] vn971 commented on #155
@amcooper understood! Seems like an obvious bug actually, understood it now, acknowledging.

Would you want / have time to fix it?

[2021-03-25 19:34] vn971 commented on #154
Hi @Techcable! I'm a bit uncertain myself on what to do here. Seems that there are some package, even though rare, that require syscalls that could otherwise be considered as dangerous / strange to have in a build. Possibly the situation will improve if the syscall list could be altered or temporarily ignored.

Would e.g. building an ignore flag be something you'd consider contributing?

[2021-03-26 08:26] amcooper commented on #155
It would be a while before I could get to it, but I'll fix it if no one else has by that time.

[2021-03-26 10:22] vn971 commented on #155
@amcooper hey, no worries, I'll pick this up, it's a very small change that I know where to do

[2021-03-26 10:38] #155 closed

[2021-04-12 17:49] refaelsh opened #156 "What does this mean: "NOT FOUND, ignored"?"
Hi,

Recently, I've begun getting the following error:
![1_001](https://user-images.githubusercontent.com/2750775/114438464-76965a80-9bd0-11eb-970c-96fa949bbef9.jpg)
Can you guys please explain what does this means?

[2021-04-12 19:45] vn971 commented on #156
Hi! Are you using the latest RUA? I think I've fixed that in the last version, lemme check..

[2021-04-12 19:47] vn971 commented on #156
It's another implication of this issue: https://github.com/vn971/rua/issues/155
which got fixed, but no release has been made yet. I'm making one now.

[2021-04-12 19:54] refaelsh commented on #156
Running `rua --version` gives me `rua 0.17.18`.

[2021-04-12 19:54] refaelsh commented on #156
Great! Thanks!

[2021-04-12 19:55] vn971 commented on #156
Overall, in the above screen it's essentially the situation of: "All AUR packages are up-to-date, but there are some packages installed locally that do not exist in neither pacman nor AUR"

[2021-04-12 19:56] vn971 commented on #156
// BTW, I want to return to the other messages around here (and the PR), but didn't have energy for that yet.. Will do later.

[2021-04-12 20:01] refaelsh commented on #156
Thats ok! All is fine! I love you and what you are doing here with Rua. Please, feel free to take your time :-)
Love you man :-)

[2021-04-12 20:02] vn971 commented on #156
Done, v0.17.19 is out!

[2021-04-13 16:17] beroal opened #157 "Is there a way to share compiled packages?"
I see that compiled packages are put deep inside the home directory of the user running `rua`. In order to share compiled packages, I execute  `mount --bind /home/${USER}/.local/share/rua/checked_tars /usr/share/rua/checked_tars`. Is there a better way, probably, a command-line option for `rua` for setting up this directory?

[2021-04-13 17:54] refaelsh commented on #156
I've upgraded to v0.17.19 and the issue still exists.

[2021-04-13 18:26] vn971 commented on #156
@refaelsh can you please copy terminal (or screenshot)?

[2021-04-13 18:28] refaelsh commented on #156
![1_002](https://user-images.githubusercontent.com/2750775/114602310-22a67700-9c9f-11eb-91f6-87ba070a3ac2.jpg)

[2021-04-13 18:29] vn971 commented on #156
Yeah, that's how it should be. RUA says that all AUR packages aru up-to-date, but some packages you have locally do not exist in neither pacman nor AUR

[2021-04-13 18:30] vn971 commented on #156
it no longer asks you to do anything about it though, it just exits successfully, just notifying you about the current state

[2021-04-13 18:31] vn971 commented on #156
Maybe the text can be made yellow or something as it's not an error, it's just a FYI for the user.

Given this context, what do you think? What would you expect RUA to do when encountering these packages? (I'm not saying I'll incorporate right away, but I'm curious what you think)

[2021-04-13 19:15] refaelsh commented on #156
IMHO, and please feel free to ignore me :-), I think that this message should not appear, if those packages are no longer in AUR.

[2021-04-13 19:15] refaelsh commented on #156
Oh! I understand. Then, please feel free to close this issue :-)

[2021-04-13 20:42] vn971 commented on #156
I've tried to improve the wording here, to make it more explicit and actionable: https://github.com/vn971/rua/commit/3f90120802827a52b1045ef887f8de1697b035d7

[2021-04-13 20:42] #156 closed

[2021-04-13 21:02] vn971 commented on #157
@beroal you mean that you'd like RUA to put built packages in /usr/share/... ?

To clarify a bit on how rua works: it follows the XDG specification when it can. `checked_tars` in particular are stored in the "data directory", used via this library function: https://github.com/dirs-dev/directories-rs/blob/main/src/lib.rs#L206

What would also work in practice is to override `XDG_DATA_HOME` environm

[2021-04-13 21:04] vn971 commented on #157
@beroal I've improved the docs for that additionally: https://github.com/vn971/rua/commit/f2430057255b8a39148b02998452af5a112cc739

[2021-04-15 11:28] beroal commented on #157
Yes. If I set appropriate permissions for `/usr/share/rua` and start `rua` with the environment variable `XDG_DATA_HOME` set to `/usr/share`, `rua` puts compiled packages directly into `/usr/share/rua/checked_tars`. Thank you.

Actually, I knew these variables and these paths, but didn't realize you actually read the variables. You could have just put environment variable names into the table and

[2021-04-15 13:37] vn971 commented on #157
Thanks for confirming!
I'll close the issue. With the documentation added to the bottom, I hope most people would grasp what's going on. If that'll prove to not be the case (e.g. raised issues), we could re-visit.

[2021-05-03 10:11] samyak-jain opened #158 "Interactively Skip updates"
I understand that we can currently skip certain packages using ```---ignore``` or using ```IgnorePkg``` but I would love if we could have the ability to skip an update in the interactive menu. This would be much more convenient for me.

Let me know if it's something that you would like added and I can work on submitting a PR.

[2021-05-03 10:32] vn971 commented on #158
@samyak-jain Hey, that's an interesting question, I sometimes struggle with it myself. Usually I run the `upgrade` command, abort it, and then install the individual packages separately, manually.. So I do agree that there could be something to improve for this workflow

That being said, how would you see this feature working? E.g. what screen appears to the user first, what are the possibly respo

[2021-05-03 10:43] Morganamilo commented on #158
If you want some prior art you can look at the upgrade menu in yay/paru

[2021-05-03 11:07] vn971 commented on #158
@Morganamilo :+1: that's a very good remark.

I'd advise not to start with other clients because that limits potentially new ideas. But after coming up with few ideas of what we'd want to build, definitely check how other package managers do it.
A lot of other people thought about other approaches already => there's a very high probability that it'd be best to copy the other approach.

[2021-05-03 11:13] samyak-jain commented on #158
I was thinking something along the lines of it being part of the existing menu. When reviewing a package we get options like S for shellcheck, M to merge, O to accept, so we might want to just add another option than can skip this package.
I don't know how other package managers do it since this is the only one I've used but this approach makes a lot of sense to me.

[2021-05-10 18:13] teunvanson commented on #149
I second this. It is of course possible to see all foreign packages through Pamac, and perhaps also through Pacman (although I don't know how, since the packages installed through rua don't seem to have a repository name attached to them), but there currently seems to be no way of knowing whether rua is actually managing and updating them.

[2021-05-17 05:22] virgilwashere commented on #149
That's covered by

[code]

Or even just `rua upgrade --printonly`

[2021-05-26 17:34] vn971 commented on #149
@virgilwashere not exactly, because `rua upgrade` only lists upgradable packages. This feature request is to list all non-pacman-managed packages I think.

WRT to this feature request, if anybody makes a clean PR for this feature, I'm open to have it in rua

[2021-05-30 13:42] bbx0 commented on #126
I tried running `rua` on a rpi4 as well. It seems to work fine after creating the [seccomp](https://github.com/kurnevsky/dotfiles/tree/master/.seccomp) files and adding them to `rua_paths.rs`.

Would it be okay to turn https://github.com/bbx0/rua/commit/085ae63e5c2e8ab8fedc1cdc59a82984966224dd and https://github.com/bbx0/rua/commit/e45b27b3f427146f150ce69897a50f3c9145e41c into a pull request for A

[2021-06-06 16:36] samyak-jain commented on #158
@vn971 What do you think regarding this?

[2021-06-06 16:40] samyak-jain opened #164 "Easy way to restart update"
Currently if updating multiple packages and even one of them fails, none of the packages get updated. And if, we want to go through the update process again (let's say we fix the offending PKGBUILD and we want to restart the update), we will have to either redo everything (that is, redownload and rebuild), or do something like rua builddir for each package separately. This seems a bit tedious righ

[2021-06-06 16:48] samyak-jain opened #165 "Cannot install package from builddir"
When installing a package using ```rua builddir '/mnt/data/cache/rua/build/android-studio-canary' -f```, the build is successfull, but the install fails. I get
[code]

But as suggested during the build, if I install using ```pacman -U -- '/mnt/data/cache/rua/build/android-studio-canary/android-studio-canary-2021.1.1.1-1-x86_64.pkg.tar.xz'```, everything works.

Any idea why? Are there any debug lo

[2021-06-06 18:48] refaelsh opened #166 "Rua started having an issue with `libpalm`"
Here is what started happening:
[code]
I have no idea what I've done besides running regular `sudo pacman -Syu`.

Help please :-)

[2021-06-06 18:50] vn971 commented on #166
@refaelsh hey, this unfortunately happened due to pacman upgrade, see this message: https://aur.archlinux.org/packages/rua/#pinned-810636

Since then I re-wrote some parts of rua and now this won't happen again. Yet once you need to upgrade the package manually, as in the comment above

[2021-06-06 19:27] refaelsh commented on #166
I am sorry, I must be missing something stupid. I followed the instructions in your link, and here is the result:

[code]

[2021-06-06 19:29] vn971 commented on #166
@refaelsh `-si` is with a dash, `makepkg -si`  can you try that?

[2021-06-06 19:31] refaelsh commented on #166
Same thing happens:
[code]

[2021-06-07 06:06] vn971 commented on #166
@refaelsh oh sorry, the instructions were wrong, it said to clone the Rust repository (github here), not the AUR one. I've updated them now. Correct steps:
[code]

[2021-06-07 14:13] kuon opened #168 "Multiple generated packages not installed"
When building the `pipewire-git` package, only a single package gets installed:

PKGBUILD: <https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=pipewire-git>

When doing `makepkg -si` all packages are correctly installed.

Rua output:

[code]

Makepkg output:

[code]

[2021-06-07 18:29] refaelsh commented on #166
Yeap, that solves it. Thank you.

[2021-06-07 18:29] #166 closed

[2021-06-07 19:02] vn971 commented on #166
Thanks for the report! There was an actual bug, fixed it thanks to these messages

[2021-06-08 20:37] teunvanson opened #169 "Rua upgrading packages as dependency"
First of all, I'm very new to open source contributing, so it's possible that I make a stupid mistake somewhere. Please bear with me.

Basically, the problem I encounter is that when upgrading or reinstalling, rua seems to mark packages as dependency when it shouldn't. I found this out because Pamac lists several of my AUR packages as orphans.

For example, [Zotero](https://aur.archlinux.org/packa

[2021-06-24 20:24] Morganamilo opened #170 "Pkgbuild still uses the git feature"
the pkgbuild still uses the git feature when pacman-git is installed causing it to fail to build because the feature is now libalpmgit.

Though it should just be removed altogether as the default is to shell out to pacman and that works for all pacman versions.

[2021-06-24 20:53] vn971 commented on #170
@Morganamilo Thanks for noticing/writing! Fixed it now (pushed a new commit). I've left the pkgrel unchanged because I don't want people to re-build the tool if they have a working version already anyway. Not 100% if that's the right call tho, but leaving it as-is for now

[2021-06-24 20:53] #170 closed

[2021-07-02 20:33] micwoj92 commented on #105
@vn971 is anyone working on this? I could quickly try to do something like this.

[2021-07-18 20:04] Poincare1 opened #172 "Rua on Arch Arm64?"
Following the instructions to build from source(?) gives the following error:

`git clone https://aur.archlinux.org/rua.git                     20:00:53
Cloning into 'rua'...
remote: Enumerating objects: 502, done.
remote: Counting objects: 100% (502/502), done.
remote: Compressing objects: 100% (319/319), done.
remote: Total 502 (delta 178), reused 502 (delta 178), pack-reused 0
Receiving objects

[2021-07-25 16:27] raphCode commented on #165
`/var/log/pacman.log` shows the issue:

[code]

The first entry is from `rua install <pkg>`, the second from `rua builddir <dir>`.
It seems that rua does not provide the full/absolute path to pacman (alternatively, the working directory could be set to the directory where the package file residues).
Interestingly, it reports the absolute path when suggesting to run pacman manually.

[2021-08-20 15:50] sashaaaaaaaaa commented on #169
for me it does explicitly tell it like pacman -U --asdeps

[2021-08-22 15:39] samyak-jain commented on #165
Thanks for working on the issue. Might want to ping a maintainer. Would be nice to have this merged.

[2021-08-22 18:11] vn971 commented on #165
Hey sorry, I was a bit drowned with work and personal stuff lately, and currently on a vacation.  I'll try to respond to this and other PRs within 1-3 weeks (1 if it's during the vacation, e.g. bad weather, 3 otherwise).

On August 22, 2021 3:39:27 PM UTC, Samyak Jain ***@***.***> wrote:

--
Sent from my mobile device. Please excuse my brevity.

[2021-09-03 19:30] OneMoreByte opened #175 "Weird failure to build lib32-lzo"
I ran into an issue with the PKGCONFIG from lib32-lzo. When I try to install with
[code]
running `./configure` fails with
[code]

But if I cd into the directory rua creates and run`makepkg` manually, it builds fine.

Is this user error or is something weird happening in rua?

[2021-09-04 07:17] vn971 commented on #175
Hey @OneMoreByte, I don't really know, it could be anything from the security limitations that RUA does automatically: https://github.com/vn971/rua#safety

What does `config.log` say (from the text above)?

[2021-09-12 02:34] OneMoreByte commented on #175
Sorry for the late response and embarrassed to say I didn't look that over. Looks like it builds and runs a `conftest` and it fails with
[code]
which sounds like it's related to the sandbox. Sounds like that's by design. I'll close this.

[2021-09-12 02:34] #175 closed

[2021-09-14 07:58] gilcu2 opened #176 "Unattended option"
How can it be run with interaction with the user, taking some default answers?

[2021-09-19 05:20] yaomtc commented on #70
I am using rua to build kwin-git. [plasma-frameworks-git](https://aur.archlinux.org/packages/plasma-framework-git/) depends on kirigami-git (kirigami2-git). However, there is no kirigami-git, which is what rua specifically looks for. It does not find kirigami2-git. Does AUR not have a redirect function?

[2021-09-19 18:28] vn971 commented on #105
@micwoj92 hey, sorry for the late reply...
I'd love to use an automated system like Travis or GH Actions, however only if the builds are reproducible, e.g. if I make a local build/release as well, I get all the same hashsums. Last time I checked RUA, I think it gave the same binary on the same OS (with only the build re-started).

If the PR produces binaries that have the same hashes that I can ob

[2021-09-21 08:02] vn971 commented on #172
Hi @Poincare1! The issue is solved now, `rua` should be able to run on Arm64. (Please report if it doesn't!)

[2021-09-21 08:02] #172 closed

[2021-09-21 08:34] vn971 commented on #126
Hi @diegoflorez @zegelin, based on @bbx0'x excellent pull request RUA now got support for other architectures (all architectures where Rust and `libseccomp` would run). Please raise an issue if it's not working for you!

The latest release already has these changes

[2021-09-21 08:34] #126 closed

[2021-09-26 16:24] refaelsh opened #177 "I am getting the famous `exists in filesystem` error"
Hi all,

I am getting the famous `exists in filesystem` error when doing this: `rua install postman-bin`.
Usually, the solution would be to read this part of the Arch Linux wiki: https://wiki.archlinux.org/title/Pacman#.22Failed_to_commit_transaction_.28conflicting_files.29.22_error.
But, the wiki instructs to pass certain parameters to `pacman`. How can I do this when using `rua`?

Thanks all.

[2021-09-26 16:34] vn971 commented on #177
Hey @refaelsh, what is the exact parameter you thought of adding, at which step? Do you mean the installation step, one that happens after already successfully building a package?

[2021-09-26 16:47] refaelsh commented on #177
According to the wiki mentioned in the original post, I am supposed to pass the following parameters to `pacman`: `pacman -S --overwrite glob package`.

[2021-09-26 16:54] vn971 commented on #177
@refaelsh OK. This doesn't apply to what rua does _directly_, because `pacman -S` means to install a "core", non-aur package. But I get that you mean to pass the `--overwrite` parameter to whatever installation command that is, so `pacman -U` in rua-s case. Would it work for you to just not use the built-in easy `sudo` installation, but manually type (or copy if you work from a graphical terminal)

[2021-09-26 16:55] vn971 commented on #177
EDIT -^

[2021-09-26 17:14] refaelsh commented on #177
Thank you very much @vn971. I've never really noticed the `M` option. Just tried it, and it worked perfectly. I am closing this issue.

[2021-09-26 17:14] #177 closed

[2021-09-26 17:44] vn971 commented on #177
@refaelsh Thanks! I want to get to the other issues/MRs as well, but there's a lot, I'm only moving slowly.. Mainly just telling that I still have it in my TODO.

[2021-09-26 17:46] refaelsh commented on #177
@vn971 That is perfectly ok, no problem. Thank you for your great Open Source project :-)

[2021-09-27 12:05] Zero-git-dot commented on #169
#65
Already know bug

[2021-09-30 01:14] micwoj92 commented on #105
I tried and I couldn't figure it out, build from GH Actions had different sums than one built locally, I even tried building in docker.

I did the same, compiled rua, removed build directory and compiled again, same hashes on same machine, but GH actions had different. I will try building on my laptops later today and see if it has same hashes and the one built on my main pc.

Sorry for ping @Morg

[2021-10-04 10:50] raphCode commented on #165
Hi @vn971,
did you have any time looking into the PR already?

Please also tell if we should remind you more or less often. Some prefer / need more reminders, others feel stressed if they are too frequent.

[2022-03-10 04:21] tmpm697 opened #179 "Better package naming?"
I find it a bit confusing with the name `rua` even though I know it opposite of `aur`.

I might better off with name changing like `aurs` from `aur` and `rs` (`rs` as short of `rust`)

[2022-03-10 04:27] tmpm697 opened #180 "Give upgrade -y to process without confirmation?"
frequently i know what packages i'm upgrading and don't want to exam PKGBUILD file, give it `-y` option so it auto `M` and `O`.

[2022-03-10 04:42] tmpm697 opened #181 "Cover -git package when doing upgrade and add update out of date package?"
This `rua` lacks of `update` command that update out of date packages from `aur`.

also `rua` doesn't `upgrade` / `update` (if added) packages from aur that ended with `-git`.

users often have some `-git` packages and make no sense to only manage un`-git` packages.

[2022-03-31 18:20] sadsumi opened #183 "python-blis 0.7.7-1 error when building"
Hey,

I've been trying to build a package [python-blis](https://aur.archlinux.org/packages/python-blis) (0.7.7-1) but had no luck with rua - whenever I try to do so, `build()` returns an error:

[code]

I believe this might have to do something with rua because I can build this package just fine with `makepkg -si`.

Can anyone confirm this is not an issue on my end?

[2022-03-31 18:25] vn971 commented on #183
Hi @sadsumi ! This probably happened due to, indeed, making a "disallowed" system call. `rua` forbids certain system calls for security reasons, see this list if you want to know which ones: https://github.com/vn971/rua/blob/master/build.rs#L81

Currently, making an exclusion to allow certain system calls or packages is not supported, so you might be better off building that package without a secu

[2022-03-31 18:26] vn971 commented on #183
Sounds like pretty nice package though, it's a bummer that the system calls don't match the expectations. Even curious what was denied after all

[2022-03-31 18:27] vn971 commented on #183
If you know how to configure kernel audit and grep for system call deny's, I'd be curious to learn; but chances are it won't really help getting that package fixed...

[2022-04-09 10:14] #181 closed

[2022-04-09 12:05] vn971 commented on #181
Hi! The `-git` handling is explicitly designed this way at the moment. If you want to upgrade "git" packages, see the `rua upgrade --devel` flag and the [limitations](https://github.com/vn971/rua#limitations):

If there's a way to handle the packages in a smart way, merge requests would indeed be welcomed. Note that the problem is actually more difficult than it might seem because, for example, `-

[2022-04-09 12:07] vn971 commented on #179
I'd keep the issue open if you don't mind, I actually like the proposal. I had a bit of time previous week and early this week to look at the issues/PRs, I plan to look a bit more soon as well (where "soon" is maybe ~1 month from now)

[2022-04-09 12:08] vn971 commented on #180
I think it's a reasonable feature request, I'd like to keep it if you don't mind

[2022-04-13 10:57] #145 closed

[2022-04-26 15:51] nfisher1226 opened #190 "Rua will not attempt to build for alternate architectures if a package is marked x86_64 only"
Technically this is not a bug in Rua. A large percentage of packages are marked x86_64 but build just fine across different platforms. Rua refuses to build them (at least it does on armv7). Suggest adding a way to override and attempt to build anyway.

[2022-09-29 19:54] almindor commented on #65
Any updates on this? I have to constantly keep doing `pacman -D --asexplicit <anything from rua>` all the time due to this bug.

[2022-10-13 10:01] gwpl commented on #8
[code]

[2022-10-22 01:11] Jark5455 opened #194 "Allow to pass in flags to makepkg command"
I think it would be helpfull if we could have a feature to pass in flags to the makepkg command, similar to `-mflags` in yay.

[2022-10-24 11:19] gwpl commented on #6
How to use CLI override described in https://github.com/vn971/rua/issues/6#issuecomment-442998828 ?
I can't find examples in `README.md` nor `docs/` or `rua --help` or `rua intall --help`.

[2022-10-24 11:56] gwpl commented on #8
cross-linking: I've started thread also on Arch Linux forum: https://bbs.archlinux.org/viewtopic.php?pid=2063741#p2063741